// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Modules
// =============================================================================
@import '../../stylesheets/mixins';
@import '../../stylesheets/variables';

// =============================================================================
// Default stylesheet override styles.
// =============================================================================
// GENERAL
body {
  font-family: var(--main-font-family);
}

.content {
  background-color: var(--content-background-color);

  .wrap {
    .content-page & {
      max-width: var(--content-max-width);
    }
  }
}

.summary {
  background-color: var(--secondary-color);
}

// CONTENT FORMATTED
.content-formatted {
  font-size: var(--content-body-font-size);
  line-height: var(--content-body-line-height);
  color: var(--content-body-color);

  .dark-background & {
    color: var(--fourth-color);
  }

  &.header-body {
    font-size: var(--focus-area-body-font-size);
    font-style: var(--focus-area-body-font-style);
    font-weight: var(--focus-area-body-font-weight);
    line-height: var(--focus-area-body-line-height);
    text-decoration: var(--focus-area-body-text-decoration);
    text-transform: var(--focus-area-body-text-transform);
  }

  // scss-lint:disable SingleLinePerSelector
  h1, h2, h3, h4, h5, h6, p, ul, ol, pre, code, table {
    .dark-background & {
      color: var(--fourth-color);
    }
  }
  // scss-lint:enable SingleLinePerSelector

  h1 {
    font-size: var(--headings-title-font-size);
    font-style: var(--headings-title-font-style);
    font-weight: var(--headings-title-font-weight);
    line-height: var(--headings-title-line-height);
    color: var(--headings-title-color);
    text-align: var(--headings-title-text-alignment);
    text-decoration: var(--headings-title-text-decoration);
    text-transform: var(--headings-title-text-transform);
  }

  h2 {
    font-size: var(--headings-heading-font-size);
    font-style: var(--headings-heading-font-style);
    font-weight: var(--headings-heading-font-weight);
    line-height: var(--headings-heading-line-height);
    color: var(--headings-heading-color);
    text-align: var(--headings-heading-text-alignment);
    text-decoration: var(--headings-heading-text-decoration);
    text-transform: var(--headings-heading-text-transform);
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: var(--headings-subheading-font-size);
    font-style: var(--headings-subheading-font-style);
    font-weight: var(--headings-subheading-font-weight);
    line-height: var(--headings-subheading-line-height);
    color: var(--headings-subheading-color);
    text-align: var(--headings-subheading-text-alignment);
    text-decoration: var(--headings-subheading-text-decoration);
    text-transform: var(--headings-subheading-text-transform);
  }

  a {
    &:not(.custom-btn) {
      font-style: var(--content-link-font-style);
      font-weight: var(--content-link-font-weight);
      color: var(--content-link-color);
      text-decoration: var(--content-link-text-decoration);
      text-transform: var(--content-link-text-transform);

      // scss-lint:disable NestingDepth
      &:hover {
        font-style: var(--content-link-hover-font-style);
        font-weight: var(--content-link-hover-font-weight);
        color: var(--content-link-hover-color);
        text-decoration: var(--content-link-hover-text-decoration);
        text-transform: var(--content-link-hover-text-transform);
      }
      // scss-lint:enable NestingDepth
    }
  }

  a,
  div {
    &.custom-btn {
      padding: calc(var(--content-button-padding) - 10px) var(--content-button-padding);
      font-size: var(--content-button-font-size);
      font-style: var(--content-button-font-style);
      font-weight: var(--content-button-font-weight);
      text-decoration: var(--content-button-text-decoration);
      text-transform: var(--content-button-text-transform);

      // scss-lint:disable NestingDepth
      &:not(.custom-btn-disabled) {
        color: var(--content-button-color);
        background-color: var(--content-button-background-color);
      }
      // scss-lint:enable NestingDepth
    }
  }

  ul,
  ol,
  dl {
    font-size: var(--list-font-size);
    font-style: var(--list-font-style);
    font-weight: var(--list-font-weight);
    color: var(--list-color);
    text-decoration: var(--list-text-decoration);
    text-transform: var(--list-text-transform);
  }

  table {
    tr {
      // scss-lint:disable NestingDepth, SelectorDepth
      th,
      td {
        padding: calc(var(--table-padding) - 4px) var(--table-padding);
        font-size: var(--table-font-size);
        border-top-style: var(--table-border-style);

        &:first-child {
          border-left-style: var(--table-border-style);
        }

        &:last-child {
          border-right-style: var(--table-border-style);
        }
      }
      // scss-lint:enable NestingDepth, SelectorDepth

      // scss-lint:disable NestingDepth, SelectorDepth
      &:last-child {
        td {
          border-bottom-style: var(--table-border-style);
        }
      }
      // scss-lint:enable NestingDepth, SelectorDepth
    }
  }
}

// MENUS
.menu-btn {
  .menu-stripe {
    background-color: var(--secondary-color);
  }
}

.menu-main {
  .menu-link {
    font-size: var(--menu-main-font-size);
    font-style: var(--menu-main-font-style);
    font-weight: var(--menu-main-font-weight);
    color: var(--menu-main-color);
    text-transform: var(--menu-main-text-transform);

    &.active,
    &:hover {
      border-bottom-color: var(--secondary-color);
      box-shadow: inset 0 -3px 0 var(--secondary-color);
    }

    &:hover {
      font-style: var(--menu-main-hover-font-style);
      font-weight: var(--menu-main-hover-font-weight);
      color: var(--menu-main-hover-color);
      text-transform: var(--menu-main-hover-text-transform);
    }

    &.active {
      // scss-lint:disable NestingDepth
      &,
      &:hover {
        font-style: var(--menu-main-active-font-style);
        font-weight: var(--menu-main-active-font-weight);
        color: var(--menu-main-active-color);
        text-transform: var(--menu-main-active-text-transform);
      }
      // scss-lint:enable NestingDepth
    }

  }

  // scss-lint:disable DeclarationOrder
  @include query($tablet-2) {
    display: none;

    &.expanded {
      .menu-link {
        // scss-lint:disable NestingDepth
        &.active,
        &.active:hover {
          color: var(--secondary-color);
        }
        // scss-lint:enable NestingDepth
      }
    }
  }
  // scss-lint:enable DeclarationOrder
}

.menu-sub {
  background-color: var(--content-background-color);

  .menu {
    text-align: right;
  }

  .menu-link {
    font-size: var(--menu-sub-font-size);
    font-style: var(--menu-sub-font-style);
    font-weight: var(--menu-sub-font-weight);
    color: var(--menu-sub-color);
    text-decoration: var(--menu-sub-text-decoration);
    text-transform: var(--menu-sub-text-transform);

    &.active {
      font-style: var(--menu-sub-active-font-style);
      font-weight: var(--menu-sub-active-font-weight);
      color: var(--menu-sub-active-color);
      text-decoration: var(--menu-sub-active-text-decoration);
      text-transform: var(--menu-sub-active-text-transform);
    }

    &:not(.active):hover {
      font-style: var(--menu-sub-hover-font-style);
      font-weight: var(--menu-sub-hover-font-weight);
      color: var(--menu-sub-hover-color);
      text-decoration: var(--menu-sub-hover-text-decoration);
      text-transform: var(--menu-sub-hover-text-transform);
    }
  }
}

.menu-pagination {
  .menu-item {
    &.disabled {
      // scss-lint:disable NestingDepth
      .menu-link {
        &:hover {
          color: var(--primary-color);
        }
      }
      // scss-lint:enable NestingDepth
    }

    &.active {
      // scss-lint:disable NestingDepth
      .menu-link {
        color: var(--secondary-color);
      }
      // scss-lint:enable NestingDepth
    }

    .menu-link {
      color: var(--primary-color);

      // scss-lint:disable NestingDepth
      &:hover {
        color: var(--secondary-color);
      }
      // scss-lint:enable NestingDepth
    }
  }
}

// HEADER
.header-title {
  &,
  a {
    font-size: var(--header-body-font-size);
    font-style: var(--header-body-font-style);
    font-weight: var(--header-body-font-weight);
    color: var(--header-body-color);
    text-decoration: var(--header-body-text-decoration);
    text-transform: var(--header-body-text-transform);
  }
}

// BLOG
.front-page {
  // scss-lint:disable SingleLinePerSelector
  .light-background, .dark-background {
    .post-title {
      border-bottom-style: var(--blog-front-headings-border-bottom-style);

      // scss-lint:disable NestingDepth
      &:hover {
        font-style: var(--blog-front-headings-hover-font-style);
        font-weight: var(--blog-front-headings-hover-font-weight);
        text-transform: var(--blog-front-headings-hover-text-transform);
        border-bottom-style: var(--blog-front-headings-hover-border-bottom-style);
      }
      // scss-lint:enable NestingDepth
    }
  }
  // scss-lint:enable SingleLinePerSelector

  .light-background {
    .blog-title,
    .post-date {
      color: var(--primary-color);
    }

    .post-title {
      // scss-lint:disable NestingDepth, SelectorDepth, SingleLinePerSelector
      &, a {
        color: var(--primary-color);
      }
      // scss-lint:enable NestingDepth, SelectorDepth, SingleLinePerSelector
    }
  }

  .dark-background {
    .post-title {
      border-bottom-color: var(--fourth-color);

      // scss-lint:disable NestingDepth, SelectorDepth, SingleLinePerSelector
      &, a {
        color: var(--fourth-color);
      }
      // scss-lint:enable NestingDepth, SelectorDepth, SingleLinePerSelector
    }
  }

  .blog-title {
    font-size: var(--blog-front-label-font-size);
    font-style: var(--blog-front-label-font-style);
    font-weight: var(--blog-front-label-font-weight);
    line-height: var(--blog-front-label-line-height);
    color: var(--fourth-color);
    text-decoration: var(--blog-front-label-text-decoration);
    text-transform: var(--blog-front-label-text-transform);
  }

  .post-title {
    font-size: var(--blog-front-headings-font-size);
    font-style: var(--blog-front-headings-font-style);
    font-weight: var(--blog-front-headings-font-weight);
    line-height: var(--blog-front-headings-line-height);
    text-transform: var(--blog-front-headings-text-transform);
    border-bottom-color: var(--primary-color);
  }

  .post-date {
    font-size: var(--blog-front-date-font-size);
    font-style: var(--blog-front-date-font-style);
    font-weight: var(--blog-front-date-font-weight);
    color: var(--fourth-color);
    text-decoration: var(--blog-front-date-text-decoration);
    text-transform: var(--blog-front-date-text-transform);
  }
}

// Style rules for the blog listing & single article view.
.blog-page,
.post-page {
  .post-header {
    text-align: var(--blog-headings-text-alignment);
  }

  .post-title {
    border-bottom: solid 1px var(--blog-headings-underline-color);
    box-shadow: inset 0 -3px 0 var(--blog-headings-underline-color);

    &:hover {
      border-bottom: solid 1px var(--blog-headings-hover-underline-color);
      box-shadow: inset 0 -3px 0 var(--blog-headings-hover-underline-color);
    }

    // scss-lint:disable SingleLinePerSelector
    &, a {
      font-size: var(--blog-headings-font-size);
      font-style: var(--blog-headings-font-style);
      font-weight: var(--blog-headings-font-weight);
      line-height: var(--blog-headings-line-height);
      color: var(--blog-headings-color);
      text-transform: var(--blog-headings-text-transform);
    }
    // scss-lint:enable SingleLinePerSelector

    a {
      // scss-lint:disable NestingDepth
      &:hover {
        font-style: var(--blog-headings-hover-font-style);
        font-weight: var(--blog-headings-hover-font-weight);
        color: var(--blog-headings-hover-color);
        text-transform: var(--blog-headings-hover-text-transform);
      }
      // scss-lint:enable NestingDepth
    }
  }

  .post-date {
    font-size: var(--blog-date-font-size);
    font-style: var(--blog-date-font-style);
    font-weight: var(--blog-date-font-weight);
    color: var(--blog-date-color);
    text-align: var(--blog-date-text-alignment);
    text-decoration: var(--blog-date-text-decoration);
    text-transform: var(--blog-date-text-transform);
  }
}

.blog-page {
  .post-content {
    max-width: var(--content-max-width);
  }

  .post-read-more-btn {
    font-style: var(--content-button-font-style);
    font-weight: var(--content-button-font-weight);
    color: var(--content-button-color);
    text-decoration: var(--content-button-text-decoration);
    text-transform: var(--content-button-text-transform);
    background-color: var(--content-button-background-color);
  }
}

.post-nav {
  max-width: var(--content-max-width);
}

.post-nav-direction {
  color: var(--content-link-color);
}

.tags-editor {
  color: var(--content-body-color);
}

// SEARCH
.search-open-btn,
.search-close-btn {
  svg {
    fill: var(--secondary-color);
  }
}

// FORMS
// scss-lint:disable MergeableSelector
.content-formatted {
  // scss-lint:disable SelectorFormat

  .form_field {
    .edy-fe-label,
    .form_field_label {
      font-size: var(--form-label-font-size);
      font-style: var(--form-label-font-style);
      font-weight: var(--form-label-font-weight);
      color: var(--form-label-color);
      text-decoration: var(--form-label-text-decoration);
      text-transform: var(--form-label-text-transform);
    }
  }

  .form_field_textfield,
  .form_field_textarea,
  .form_field_select,
  .form_field_file,
  .edy-fe-fieldinputs label,
  .form_field label {
    font-style: var(--form-field-font-style);
    font-weight: var(--form-field-font-weight);
    color: var(--form-field-color);
    text-decoration: var(--form-field-text-decoration);
    text-transform: var(--form-field-text-transform);
  }


  .form_submit {
    input {
      padding: calc(var(--content-button-padding) - 10px) var(--content-button-padding);
      font-size: var(--content-button-font-size);
      font-style: var(--content-button-font-style);
      font-weight: var(--content-button-font-weight);
      color: var(--content-button-color);
      text-decoration: var(--content-button-text-decoration);
      text-transform: var(--content-button-text-transform);
      background-color: var(--content-button-background-color);
    }
  }

  // scss-lint:enable SelectorFormat
}
// scss-lint:enable MergeableSelector

// COMMENTS
.comments {
  background-color: var(--content-background-color);
}

// FOOTER
.footer {
  .content-formatted {
    font-size: var(--footer-body-font-size);
    font-style: var(--footer-body-font-style);
    font-weight: var(--footer-body-font-weight);
    color: var(--footer-body-color);
    text-decoration: var(--footer-body-text-decoration);
    text-transform: var(--footer-body-text-transform);
  }
}

.footer-inner {
  background-color: var(--footer-body-background-color);
}

// PRODUCT TITLE
.item-title {
  &:hover {
    box-shadow: inset 0 -3px 0 var(--headings-subheading-color);
  }
}

// BREADCRUMBS MENU
.menu-horizontal {

  .menu-separator {
    color: var(--headings-subheading-color);
  }

  &.menu-breadcrumbs {
    .menu-item {
      a,
      a:hover {
        color: var(--headings-subheading-color);
      }
    }

    .current {
      &.menu-item {
        a {
          color: var(--headings-subheading-color);
        }
      }
    }
  }
}
