// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Modules
// =============================================================================
@import '../../stylesheets/variables';

// =============================================================================
// Design editor configuration.
// =============================================================================
:root {
  // scss-lint:disable Comment, Indentation

  /* VoogStyle
    "pathI18n": ["focus_area"],
    "titleI18n": "size",
    "editor": "rangePicker",
    "min": 8,
    "max": 100,
    "unit": "px",
    "featured": true,
    "scope": "global"
  */
  --focus-area-body-font-size: 30px;

  /* VoogStyle
    "pathI18n": ["focus_area"],
    "titleI18n": "line_height",
    "editor": "rangePicker",
    "min": 1,
    "max": 5,
    "step": 0.1,
    "unit": "",
    "scope": "global"
  */
  --focus-area-body-line-height: 1.5;

  /* VoogStyle
    "pathI18n": ["focus_area"],
    "titleI18n": "font_size",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "700",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global"
  */
  --focus-area-body-font-weight: 400;

  /* VoogStyle
    "pathI18n": ["focus_area"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global"
  */
  --focus-area-body-font-style: italic;

  /* VoogStyle
    "pathI18n": ["focus_area"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global"
  */
  --focus-area-body-text-decoration: none;

  /* VoogStyle
    "pathI18n": ["focus_area"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global"
  */
  --focus-area-body-text-transform: none;


  // scss-lint:enable Comment, Indentation
}
