// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Modules
// =============================================================================
@import '../../stylesheets/variables';

// =============================================================================
// Design editor configuration.
// =============================================================================
:root {
  // scss-lint:disable Comment, Indentation

  /* VoogStyle
    "pathI18n": ["content"],
    "titleI18n": "maximum_width",
    "editor": "rangePicker",
    "min": 600,
    "max": 1000,
    "step": 1,
    "unit": "px",
    "scope": "global"
  */
  --content-max-width: 600px;

  /* VoogStyle
    "pathI18n": ["content"],
    "titleI18n": "background_color",
    "editor": "colorPicker",
    "scope": "global"
  */
  --content-background-color: transparent;

  /* VoogStyle
    "pathI18n": ["content", "sub_menu", "normal"],
    "titleI18n": "size",
    "editor": "rangePicker",
    "min": 8,
    "max": 100,
    "unit": "px",
    "featured": true,
    "scope": "global"
  */
  --menu-sub-font-size: 16px;

  /* VoogStyle
    "pathI18n": ["content", "sub_menu", "normal"],
    "titleI18n": "font_weight",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "700",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global",
    "boundVariables": [
      "--menu-sub-hover-font-weight",
      "--menu-sub-active-font-weight"
    ]
  */
  --menu-sub-font-weight: 400;

      /* VoogStyle
        "pathI18n": ["content", "sub_menu", "hover"],
        "titleI18n": "font_weight",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "700",
          "off": "400"
        },
        "icon": "bold",
        "scope": "global",
        "boundVariables": [
          "--menu-sub-active-font-weight"
        ]
      */
      --menu-sub-hover-font-weight: 400;


      /* VoogStyle
        "pathI18n": ["content", "sub_menu", "active"],
        "titleI18n": "font_weight",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "700",
          "off": "400"
        },
        "icon": "bold",
        "scope": "global"
      */
      --menu-sub-active-font-weight: 400;


  /* VoogStyle
    "pathI18n": ["content", "sub_menu", "normal"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global",
    "boundVariables": [
      "--menu-sub-hover-font-style",
      "--menu-sub-active-font-style"
    ]
  */
  --menu-sub-font-style: normal;

      /* VoogStyle
        "pathI18n": ["content", "sub_menu", "hover"],
        "titleI18n": "font_style",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "italic",
          "off": "normal"
        },
        "icon": "italic",
        "scope": "global",
        "boundVariables": [
          "--menu-sub-active-font-style"
        ]
      */
      --menu-sub-hover-font-style: normal;

      /* VoogStyle
        "pathI18n": ["content", "sub_menu", "active"],
        "titleI18n": "font_style",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "italic",
          "off": "normal"
        },
        "icon": "italic",
        "scope": "global"
      */
      --menu-sub-active-font-style: normal;

  /* VoogStyle
    "pathI18n": ["content", "sub_menu", "normal"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global",
    "boundVariables": [
      "--menu-sub-hover-text-decoration",
      "--menu-sub-active-text-decoration"
    ]
  */
  --menu-sub-text-decoration: none;

      /* VoogStyle
        "pathI18n": ["content", "sub_menu", "hover"],
        "titleI18n": "text_decoration",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "underline",
          "off": "none"
        },
        "icon": "underline",
        "scope": "global",
        "boundVariables": [
          "--menu-sub-active-text-decoration"
        ]
      */
      --menu-sub-hover-text-decoration: none;

      /* VoogStyle
        "pathI18n": ["content", "sub_menu", "active"],
        "titleI18n": "text_decoration",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "underline",
          "off": "none"
        },
        "icon": "underline",
        "scope": "global"
      */
      --menu-sub-active-text-decoration: none;


  /* VoogStyle
    "pathI18n": ["content", "sub_menu", "normal"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global",
    "boundVariables": [
      "--menu-sub-hover-text-transform",
      "--menu-sub-active-text-transform"
    ]
  */
  --menu-sub-text-transform: none;

      /* VoogStyle
        "pathI18n": ["content", "sub_menu", "hover"],
        "titleI18n": "text_transform",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "uppercase",
          "off": "none"
        },
        "icon": "uppercase",
        "scope": "global",
        "boundVariables": [
          "--menu-sub-active-text-transform"
        ]
      */
      --menu-sub-hover-text-transform: none;

      /* VoogStyle
        "pathI18n": ["content", "sub_menu", "active"],
        "titleI18n": "text_transform",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "uppercase",
          "off": "none"
        },
        "icon": "uppercase",
        "scope": "global"
      */
      --menu-sub-active-text-transform: none;

  /* VoogStyle
    "pathI18n": ["content", "sub_menu", "normal"],
    "titleI18n": "color",
    "type": "button",
    "editor": "colorPicker",
    "featured": true,
    "scope": "global",
    "boundVariables": [
      "--menu-sub-hover-color",
      "--menu-sub-active-color"
    ]
  */
  --menu-sub-color: rgba($primary-color, .73);

      /* VoogStyle
        "pathI18n": ["content", "sub_menu", "hover"],
        "titleI18n": "color",
        "type": "button",
        "editor": "colorPicker",
        "scope": "global",
        "boundVariables": [
          "--menu-sub-active-color"
        ]
      */
      --menu-sub-hover-color: rgba($primary-color, .73);

      /* VoogStyle
        "pathI18n": ["content", "sub_menu", "active"],
        "titleI18n": "color",
        "type": "button",
        "editor": "colorPicker",
        "scope": "global"
      */
      --menu-sub-active-color: rgba($primary-color, .73);

  /* VoogStyle
    "pathI18n": ["content", "text"],
    "titleI18n": "size",
    "editor": "rangePicker",
    "min": 8,
    "max": 100,
    "unit": "px",
    "featured": true,
    "scope": "global"
  */
  --content-body-font-size: 18px;

  /* VoogStyle
    "pathI18n": ["content", "text"],
    "titleI18n": "line_height",
    "editor": "rangePicker",
    "min": 1,
    "max": 5,
    "step": 0.1,
    "unit": "",
    "scope": "global"
  */
  --content-body-line-height: 1.7;

  /* VoogStyle
    "pathI18n": ["content", "text"],
    "titleI18n": "color",
    "editor": "colorPicker",
    "featured": true,
    "scope": "global"
  */
  --content-body-color: rgba($primary-color, .73);

  /* VoogStyle
    "pathI18n": ["content", "link", "normal"],
    "titleI18n": "font_size",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "700",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global",
    "boundVariables": [
      "--content-link-hover-font-weight"
    ]
  */
  --content-link-font-weight: 400;

      /* VoogStyle
        "pathI18n": ["content", "link", "hover"],
        "titleI18n": "font_size",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "700",
          "off": "400"
        },
        "icon": "bold",
        "scope": "global"
      */
      --content-link-hover-font-weight: 400;

  /* VoogStyle
    "pathI18n": ["content", "link", "normal"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global",
    "boundVariables": [
      "--content-link-hover-font-style"
    ]
  */
  --content-link-font-style: normal;

      /* VoogStyle
        "pathI18n": ["content", "link", "hover"],
        "titleI18n": "font_style",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "italic",
          "off": "normal"
        },
        "icon": "italic",
        "scope": "global"
      */
      --content-link-hover-font-style: normal;

  /* VoogStyle
    "pathI18n": ["content", "link", "normal"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global"
  */
  --content-link-text-decoration: underline;

      /* VoogStyle
        "pathI18n": ["content", "link", "hover"],
        "titleI18n": "text_decoration",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "underline",
          "off": "none"
        },
        "icon": "underline",
        "scope": "global"
      */
      --content-link-hover-text-decoration: none;

  /* VoogStyle
    "pathI18n": ["content", "link", "normal"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global",
    "boundVariables": [
      "--content-link-hover-text-transform"
    ]
  */
  --content-link-text-transform: none;

      /* VoogStyle
        "pathI18n": ["content", "link", "hover"],
        "titleI18n": "text_transform",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "uppercase",
          "off": "none"
        },
        "icon": "uppercase",
        "scope": "global"
      */
      --content-link-hover-text-transform: none;

  /* VoogStyle
    "pathI18n": ["content", "link", "normal"],
    "titleI18n": "color",
    "type": "button",
    "editor": "colorPicker",
    "featured": true,
    "scope": "global",
    "boundVariables": [
      "--content-link-hover-color"
    ]
  */
  /*_LIQUID --content-link-color: {% if site.data.primary.color == nil %}#e4ac00{% else %}{{ site.data.primary.color }}{% endif %}; LIQUID_*/

      /* VoogStyle
        "pathI18n": ["content", "link", "hover"],
        "titleI18n": "color",
        "type": "button",
        "editor": "colorPicker",
        "scope": "global"
      */
      /*_LIQUID --content-link-hover-color: {% if site.data.primary.color == nil %}#e4ac00{% else %}{{ site.data.primary.color }}{% endif %}; LIQUID_*/

  // scss-lint:enable Comment, Indentation
}
