// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Modules
// =============================================================================
@import '../../stylesheets/variables';

// =============================================================================
// Default stylesheet override styles.
// =============================================================================
// GENERAL
body {
}

.content {
  background-color: var(--content-background-color);
}

// CONTENT FORMATTED
.content-formatted {
  font-family: var(--main-font-family);
  font-size: var(--content-body-font-size);
  line-height: var(--content-body-line-height);
  color: var(--content-body-color);

  &.header-body {
    font-size: var(--focus-area-body-font-size);
    font-style: var(--focus-area-body-font-style);
    font-weight: var(--focus-area-body-font-weight);
    line-height: var(--focus-area-body-line-height);
    text-decoration: var(--focus-area-body-text-decoration);
    text-transform: var(--focus-area-body-text-transform);
  }

  a {
    &:not(.custom-btn) {
      font-style: var(--content-link-font-style);
      font-weight: var(--content-link-font-weight);
      color: var(--content-link-color);
      text-decoration: var(--content-link-text-decoration);
      text-transform: var(--content-link-text-transform);
    }

    &:hover {
      font-style: var(--content-link-hover-font-style);
      font-weight: var(--content-link-hover-font-weight);
      color: var(--content-link-hover-color);
      text-decoration: var(--content-link-hover-text-decoration);
      text-transform: var(--content-link-hover-text-transform);
    }

    // .main-feature & {
    //   font-style: italic;
    // }
    //
    // .footer & {
    //   @include color($white, 0.5);
    // }
  }
}

// MENUS
.menu-main {
  .menu-link {
    font-size: var(--menu-main-font-size);
    font-style: var(--menu-main-font-style);
    font-weight: var(--menu-main-font-weight);
    color: var(--menu-main-color);
    text-transform: var(--menu-main-text-transform);

    &:hover {
      font-style: var(--menu-main-hover-font-style);
      font-weight: var(--menu-main-hover-font-weight);
      color: var(--menu-main-hover-color);
      text-transform: var(--menu-main-hover-text-transform);
    }

    &.active {
      // scss-lint:disable NestingDepth
      &,
      &:hover {
        font-style: var(--menu-main-active-font-style);
        font-weight: var(--menu-main-active-font-weight);
        color: var(--menu-main-active-color);
        text-transform: var(--menu-main-active-text-transform);
      }
      // scss-lint:enable NestingDepth
    }
  }

  // @include query($tablet-2) {
  //   &.expanded {
  //     .menu-item {
  //       @include border(bottom, 1px, solid, $primary-color, 0.1);
  //     }
  //
  //     .menu-link {
  //       &.active,
  //       &.active:hover,
  //       &:hover {
  //         border: none;
  //         box-shadow: none;
  //       }
  //
  //       &.active,
  //       &.active:hover {
  //         @include color($secondary-color);
  //       }
  //
  //       &:hover {
  //         @include color($primary-color, 0.3);
  //         border-bottom: none;
  //         box-shadow: none;
  //       }
  //     }
  //   }
  // }

  // @include query($mobile-1) {
  //   &.expanded {
  //     @include border(top, 1px, solid, $primary-color, 0.2);
  //   }
  // }

}

.menu-sub {
  background-color: var(--content-background-color);

  // .wrap {
  //   @extend %wide-wrap;
  //   padding: 16px 20px 6px;
  // }
  //
  // .menu {
  //   text-align: right;
  //
  //   .multilingual & {
  //     margin-right: 52px;
  //   }
  // }
  //
  // .menu-item,
  // .edit-btn {
  //   margin-bottom: 10px;
  // }
  //
  // .menu-item {
  //   @extend %hyphenate;
  //   margin-right: 12px;
  //   line-height: 1.3;
  //
  //   &:last-child {
  //     margin-right: 0;
  //   }
  // }
  //
  // .menu-link {
  //   font-size: 16px;
  //   @include color($primary-color, 0.73);
  //
  //   &.active {
  //     font-weight: 700;
  //   }
  //
  //   &:not(.active):hover {
  //     @include opacity(0.8);
  //   }
  // }
  //
  // @include query($tablet-2) {
  //   .menu {
  //     text-align: left;
  //
  //     .multilingual & {
  //       margin-right: 0;
  //     }
  //   }
  // }
}

// HEADER
.header-title {
  &,
  a {
    font-size: var(--header-body-font-size);
    font-style: var(--header-body-font-style);
    font-weight: var(--header-body-font-weight);
    color: var(--header-body-color);
    text-decoration: var(--header-body-text-decoration);
    text-transform: var(--header-body-text-transform);
  }
}
