// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Modules
// =============================================================================
@import '../../stylesheets/variables';

// =============================================================================
// Default stylesheet override styles.
// =============================================================================
// GENERAL
body {
}

.content {
  background-color: var(--content-background-color);
}

// CONTENT FORMATTED
.content-formatted {
  font-family: var(--main-font-family);
  font-size: var(--content-body-font-size);
  line-height: var(--content-body-line-height);
  color: var(--content-body-color);

  &.header-body {
    font-size: var(--focus-area-body-font-size);
    font-style: var(--focus-area-body-font-style);
    font-weight: var(--focus-area-body-font-weight);
    line-height: var(--focus-area-body-line-height);
    text-decoration: var(--focus-area-body-text-decoration);
    text-transform: var(--focus-area-body-text-transform);
  }

  h1 {
    font-size: var(--headings-title-font-size);
    font-style: var(--headings-title-font-style);
    font-weight: var(--headings-title-font-weight);
    line-height: var(--headings-title-line-height);
    color: var(--headings-title-color);
    text-align: var(--headings-title-text-alignment);
    text-decoration: var(--headings-title-text-decoration);
    text-transform: var(--headings-title-text-transform);
  }

  h2 {
    font-size: var(--headings-heading-font-size);
    font-style: var(--headings-heading-font-style);
    font-weight: var(--headings-heading-font-weight);
    line-height: var(--headings-heading-line-height);
    color: var(--headings-heading-color);
    text-align: var(--headings-heading-text-alignment);
    text-decoration: var(--headings-heading-text-decoration);
    text-transform: var(--headings-heading-text-transform);
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: var(--headings-subheading-font-size);
    font-style: var(--headings-subheading-font-style);
    font-weight: var(--headings-subheading-font-weight);
    line-height: var(--headings-subheading-line-height);
    color: var(--headings-subheading-color);
    text-align: var(--headings-subheading-text-alignment);
    text-decoration: var(--headings-subheading-text-decoration);
    text-transform: var(--headings-subheading-text-transform);
  }

  a {
    &:not(.custom-btn) {
      font-style: var(--content-link-font-style);
      font-weight: var(--content-link-font-weight);
      color: var(--content-link-color);
      text-decoration: var(--content-link-text-decoration);
      text-transform: var(--content-link-text-transform);

      &:hover {
        font-style: var(--content-link-hover-font-style);
        font-weight: var(--content-link-hover-font-weight);
        color: var(--content-link-hover-color);
        text-decoration: var(--content-link-hover-text-decoration);
        text-transform: var(--content-link-hover-text-transform);
      }
    }

    &.custom-btn {
      padding: calc(var(--content-button-padding) - 10px) var(--content-button-padding);
      font-size: var(--content-button-font-size);
      font-style: var(--content-button-font-style);
      font-weight: var(--content-button-font-weight);
      color: var(--content-button-color);
      text-decoration: var(--content-button-text-decoration);
      text-transform: var(--content-button-text-transform);
      background-color: var(--content-button-background-color);

      // scss-lint:disable NestingDepth
      &:hover {
        font-style: var(--content-button-hover-font-style);
        font-weight: var(--content-button-hover-font-weight);
        color: var(--content-button-hover-color);
        text-decoration: var(--content-button-hover-text-decoration);
        text-transform: var(--content-button-hover-text-transform);
        background-color: var(--content-button-hover-background-color);
      }
      // scss-lint:enable NestingDepth
    }
  }

  ul,
  ol,
  dl {
    font-size: var(--list-font-size);
    font-style: var(--list-font-style);
    font-weight: var(--list-font-weight);
    color: var(--list-color);
    text-decoration: var(--list-text-decoration);
    text-transform: var(--list-text-transform);
  }

  table {
    tr {
      th,
      td {
        padding: calc(var(--table-padding) - 4px) var(--table-padding);
        font-size: var(--table-font-size);
        border-top-style: var(--table-border-style);
        border-bottom-style: var(--table-border-style);
      }
    }
  }
}


// MENUS
.menu-main {
  .menu-link {
    font-size: var(--menu-main-font-size);
    font-style: var(--menu-main-font-style);
    font-weight: var(--menu-main-font-weight);
    color: var(--menu-main-color);
    text-transform: var(--menu-main-text-transform);

    &:hover {
      font-style: var(--menu-main-hover-font-style);
      font-weight: var(--menu-main-hover-font-weight);
      color: var(--menu-main-hover-color);
      text-transform: var(--menu-main-hover-text-transform);
    }

    &.active {
      // scss-lint:disable NestingDepth
      &,
      &:hover {
        font-style: var(--menu-main-active-font-style);
        font-weight: var(--menu-main-active-font-weight);
        color: var(--menu-main-active-color);
        text-transform: var(--menu-main-active-text-transform);
      }
      // scss-lint:enable NestingDepth
    }
  }

  // @include query($tablet-2) {
  //   &.expanded {
  //     .menu-item {
  //       @include border(bottom, 1px, solid, $primary-color, 0.1);
  //     }
  //
  //     .menu-link {
  //       &.active,
  //       &.active:hover,
  //       &:hover {
  //         border: none;
  //         box-shadow: none;
  //       }
  //
  //       &.active,
  //       &.active:hover {
  //         @include color($secondary-color);
  //       }
  //
  //       &:hover {
  //         @include color($primary-color, 0.3);
  //         border-bottom: none;
  //         box-shadow: none;
  //       }
  //     }
  //   }
  // }

  // @include query($mobile-1) {
  //   &.expanded {
  //     @include border(top, 1px, solid, $primary-color, 0.2);
  //   }
  // }

}

.menu-sub {
  background-color: var(--content-background-color);

  .menu {
    text-align: right;
  }

  .menu-link {
    font-size: var(--menu-sub-font-size);
    font-style: var(--menu-sub-font-style);
    font-weight: var(--menu-sub-font-weight);
    color: var(--menu-sub-color);
    text-decoration: var(--menu-sub-text-decoration);
    text-transform: var(--menu-sub-text-transform);

    &.active {
      font-style: var(--menu-sub-active-font-style);
      font-weight: var(--menu-sub-active-font-weight);
      color: var(--menu-sub-active-color);
      text-decoration: var(--menu-sub-active-text-decoration);
      text-transform: var(--menu-sub-active-text-transform);
    }

    &:not(.active):hover {
      font-style: var(--menu-sub-hover-font-style);
      font-weight: var(--menu-sub-hover-font-weight);
      color: var(--menu-sub-hover-color);
      text-decoration: var(--menu-sub-hover-text-decoration);
      text-transform: var(--menu-sub-hover-text-transform);
    }
  }
  //
  // @include query($tablet-2) {
  //   .menu {
  //     text-align: left;
  //
  //     .multilingual & {
  //       margin-right: 0;
  //     }
  //   }
  // }
}

// HEADER
.header-title {
  &,
  a {
    font-size: var(--header-body-font-size);
    font-style: var(--header-body-font-style);
    font-weight: var(--header-body-font-weight);
    color: var(--header-body-color);
    text-decoration: var(--header-body-text-decoration);
    text-transform: var(--header-body-text-transform);
  }
}


// FORMS
/* FORMS */
// Styling rules for the site's form-fields area. These rules affect the entire site's form-fields that are in the editable content area.
.content-formatted {
  // scss-lint:disable SelectorFormat

  // form,
  // .form {
  //   max-width: 100%;
  //
  //   .main-feature & {
  //     margin-left: 0;
  //     margin-right: 0;
  //   }
  // }
  //
  // .form_field {
  //   margin-top: 20px;
  //
  //   &:first-child {
  //     margin-top: 0;
  //   }
  // }
  //
  // .form_field,
  // .edy-fe-label {
  //   font-size: 16px;
  //   @include color($primary-color, 0.73);
  //
  //   .dark-background & {
  //     @include color($white);
  //   }
  //
  //   .header-bottom & {
  //     font-style: normal;
  //   }
  // }
  //
  // .form_field {
  //   label {
  //     position: relative;
  //     display: inline;
  //     padding-left: 2px;
  //     font-weight: 400;
  //     line-height: 1.3;
  //     cursor: pointer;
  //
  //     &:after {
  //       content: '\a';
  //       white-space: pre;
  //     }
  //
  //     &:before {
  //       display: block;
  //     }
  //   }
  //
  //   .edy-fe-label,
  //   .form_field_label {
  //     padding-left: 0;
  //     font-weight: 600;
  //   }
  // }
  //
  // .form_field_textfield,
  // .form_field_textarea,
  // .form_field_select,
  // .form_field_file {
  //   max-width: 100%;
  // }
  //
  // .form_field_textfield,
  // .form_field_textarea,
  // .form_field_select,
  // .form_submit input {
  //   font-family: inherit;
  //   font-size: inherit;
  //   line-height: inherit;
  //   color: inherit;
  //   @include inputiosreset;
  //
  //   &:focus {
  //     outline: none;
  //   }
  // }
  //
  // .form_field_textfield,
  // .form_field_textarea,
  // .form_field_select {
  //   width: 200px;
  //   margin: 0;
  //   padding: 5px;
  //   @include bg($primary-color, 0.02);
  //   @include border(all, 1px, solid, $primary-color, 0.1);
  //   box-sizing: border-box;
  //
  //   .header-bottom & {
  //     @include color($primary-color, 0.73);
  //     @include bg($white);
  //     @include border(all, 1px, solid, $primary-color, 0.5);
  //   }
  // }
  //
  // .form_field_select {
  //   text-indent: 0.01px;
  //   text-overflow: '';
  //   background-position: top 16px right 10px;
  //   background-repeat: no-repeat;
  //   cursor: pointer;
  //
  //   .no-svg & {
  //     background-image: url('../images/ico-arrow-down.png');
  //   }
  //
  //   .svg & {
  //     background-image: url('../images/ico-arrow-down.png');
  //   }
  // }
  //
  // .form_field_checkbox,
  // .form_field_radio {
  //   visibility: hidden;
  //   margin-bottom: 8px;
  //
  //   + .form_control_indicator {
  //     position: absolute;
  //     top: 2px;
  //     left: 0;
  //     display: block;
  //     width: 15px;
  //     height: 15px;
  //     @include bg($primary-color, 0.1);
  //   }
  // }
  //
  // .form_field_checkbox {
  //   &:checked {
  //     + .form_control_indicator:before {
  //       position: absolute;
  //       top: -3px;
  //       left: 3px;
  //       display: block;
  //       width: 14px;
  //       height: 14px;
  //       content: '';
  //       background-size: cover;
  //
  //       .no-svg & {
  //         background-image: url('../images/ico-tick.png');
  //       }
  //
  //       .svg & {
  //         background-image: url('../assets/ico-tick.svg');
  //       }
  //     }
  //   }
  // }
  //
  // .form_field_radio {
  //   + .form_control_indicator {
  //     &, &:before {
  //       border-radius: 100%;
  //     }
  //   }
  //
  //   &:checked {
  //     + .form_control_indicator:before {
  //       position: absolute;
  //       top: 3px;
  //       left: 3px;
  //       display: block;
  //       width: 9px;
  //       height: 9px;
  //       content: '';
  //       @include bg($primary-color);
  //     }
  //   }
  // }
  //
  // .form_field_size_medium {
  //   width: 400px;
  // }
  //
  // .form_field_size_large {
  //   width: 600px;
  // }

  .form_submit {
    input {
      padding: calc(var(--content-button-padding) - 10px) var(--content-button-padding);
      font-size: var(--content-button-font-size);
      font-style: var(--content-button-font-style);
      font-weight: var(--content-button-font-weight);
      color: var(--content-button-color);
      text-decoration: var(--content-button-text-decoration);
      text-transform: var(--content-button-text-transform);
      background-color: var(--content-button-background-color);

      // scss-lint:disable NestingDepth
      &:hover {
        font-style: var(--content-button-hover-font-style);
        font-weight: var(--content-button-hover-font-weight);
        color: var(--content-button-hover-color);
        text-decoration: var(--content-button-hover-text-decoration);
        text-transform: var(--content-button-hover-text-transform);
        background-color: var(--content-button-hover-background-color);
      }
      // scss-lint:enable NestingDepth
    }
  }

  // scss-lint:enable SelectorFormat
}
