// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Modules
// =============================================================================
@import '../../stylesheets/variables';

// =============================================================================
// Default stylesheet override styles.
// =============================================================================
body {
}

.content-formatted {
  font-family: var(--main-font-family);
  font-size: var(--content-body-font-size);
  line-height: var(--content-body-line-height);
  color: var(--content-body-color);

  &.header-body {
    font-size: var(--focus-area-body-font-size);
    font-style: var(--focus-area-body-font-style);
    font-weight: var(--focus-area-body-font-weight);
    line-height: var(--focus-area-body-line-height);
    text-decoration: var(--focus-area-body-text-decoration);
    text-transform: var(--focus-area-body-text-transform);
  }

  a {
    &:not(.custom-btn) {
      font-style: var(--content-link-font-style);
      font-weight: var(--content-link-font-weight);
      color: var(--content-link-color);
      text-decoration: var(--content-link-text-decoration);
      text-transform: var(--content-link-text-transform);
    }

    &:hover {
      font-style: var(--content-link-hover-font-style);
      font-weight: var(--content-link-hover-font-weight);
      color: var(--content-link-hover-color);
      text-decoration: var(--content-link-hover-text-decoration);
      text-transform: var(--content-link-hover-text-transform);
    }

    // .main-feature & {
    //   font-style: italic;
    // }
    //
    // .footer & {
    //   @include color($white, 0.5);
    // }
  }
}
