// VARIABLES
// Custom variables to use in every .scss files.
// Comment out the "_variables.scss" partial in the "main.scss" file if not used.

// General colors
$primary-color: #000000;
$secondary-color: #E4AC00;
$third-color: #454545;

// Specific colors
$color-black: rgba(0,0,0,1);
$color-white: rgba(255,255,255,1);
$white: #FFFFFF;
$red: #CC0000;
$green: #60A740;
$blue-1: #0066BB;
$blue-2: #C7E5FF;
$yellow: #F9EC5A;
$color-disabled: #ccc;
$grey: #E5E5E5;
$color-science-blue: #06b;

// Sign out button
$color-common-gray: rgb(27,33,36);
$color-toolbar-bg: rgb(238,238,238);
$color-silver-2: rgb(196,196,196);

// Fonts
$base-font-family: 'Arvo', serif;
$avenir: 'Avenir Next', 'AvenirX';

// Media queries
$tablet-1: 1040px;
$tablet-2: 900px;
$tablet-3: 816px;
$tablet: 768px;
$tablet-4: 707px;
$tablet-5: 660px;

$mobile-1: 640px;
$mobile-2: 507px;
$break-small: 500px;
$mobile-3: 480px;
$nano: 320px;

// Reusable values
// Define the reusable variables here.
// For example the width of several different elements, that allways have to be with the same height:
// $box-width: 400px;
$search-height-1: 30px;
$search-height-2: 40px;

$zindex-ca-interaction-button: 10600;
