// EDITMODE STYLESHEET
// Stylesheet for styling elements that are only used in editmode.
@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'mixins';
@import 'variables';

// Editable content area.
.edy-ca {
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }
}

// Editable content area placeholders.
.placeholder {
  .dark-background & {
    @include color($white, 0.5);
  }
}

// Text editor
.content-formatted {
  &.header-body {
    .edy-texteditor-view {
      min-height: 51px;
    }
  }

  .edy-texteditor-view {
    min-height: 25px;

    .map & {
      min-height: 272px;
    }
  }

  .edy-texteditor-active {
    .dark-background & {
      outline: 1px solid rgba($white, 0.8);
    }

    .light-background & {
      outline: 1px solid rgba($primary-color, 0.5);
    }
  }

  .edy-texteditor-active table td,
  .edy-texteditor-active table th {
    .dark-background & {
      outline: 1px dotted rgba($white, 0.5);
    }
  }

  .edy-texteditor-active table td.wysiwyg-tmp-selected-cell,
  .edy-texteditor-active table th.wysiwyg-tmp-selected-cell {
    .dark-background & {
      outline: 1px solid rgba($white, 0.8);
    }
  }
}

// Image drop area
.edy-img-drop-area {
  font-family: 'Avenir Next', 'AvenirX', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;

  .edy-img-drop-area-placeholder {
    display: table-cell;
    vertical-align: middle;
    @include color($primary-color, 0.53);

    .editmode & {
      margin: 0;
      padding: 10px;
      font-size: 18px;
    }
  }
}
