/* BLOG & BLOG ARTICLE */
.post-title {
  &, & a {
    word-break: break-word;
  }
}

// Style rules for the front page blog listing only.
.front-page {
  .blog-title {
    margin: 0;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    @include color($white, 0.5);
  }

  .post {
    margin-top: 10px;
  }

  .post-title {
    display: inline;
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    @include border(bottom, 1px, solid, $white);

    &:hover {
      border: none;
    }

    &, & a {
      @include color($white);
    }
  }

  .post-date {
    display: block;
    line-height: 0.8;
    font-size: 16px;
    @include color($white, 0.5);
  }
}

// Style rules for the blog listing & single article view.
.blog-page,
.post-page {
  .post {
    @include border(top, 1px, solid, $primary-color, 0.1);

    &:first-child {
      padding-top: 0;
      border: none;
    }
  }

  .post-header-top {
    text-align: center;

    .wrap {
      max-width: 700px;
      padding: 32px 20px 0;
    }
  }

  .post-title {
    display: inline-block;
    min-width: 100px;
    margin: 0;
    padding-bottom: 2px;
    line-height: 1.2;
    @include border(bottom, solid, 1px, $primary-color, 0.23);
    box-shadow: inset 0 -3px 0 rgba($primary-color, 0.23);


    &, a {
      font-size: 36px;
    }

    a {
      @include color($primary-color, 0.73);

      &:hover {
        @include color($primary-color, 0.5);
      }
    }
  }

  .post-date {
    display: block;
    margin-top: 2px;
    text-align: center;
    line-height: 1.3;
    font-size: 18px;
    @include color($primary-color, 0.1);
  }

  .post-content {
    margin-top: 12px;
  }

  .post-excerpt {
  }

  .post-body {
    margin-top: 47px;
  }
}

// Style rules for the blog listing view only
.blog-page {
  .post-add-btn {
    text-align: center;
    margin-bottom: 50px;
  }

  .post {
    padding: 50px 0;
  }
}

// Style rules for the blog single article view only
.post-page {
  .post {

  }
}
