/* CONTENT */
// Styling rules for the site's main content area. These rules affect the entire site.
.content {
  padding-bottom: 80px;
  @include bg($white);

  .wrap {
    padding: 20px;

    .content-page & {
      max-width: 600px;
    }
  }
}

.main-feature,
.summary {
  .wrap {
    @extend %clearfix;
    padding: 0 20px;
  }
}

%front-page-content-left {
  max-width: 468px;
  padding: 48px 20px;
}

%front-page-content-right {
 max-width: 442px;
 padding: 48px 0 48px 50px;
}

.main-feature {
  .feature-left,
  .feature-right {
    float: left;
    width: 100%;
  }

  .feature-left {
    @extend %front-page-content-left;
  }

  .feature-right {
    @extend %front-page-content-right;
  }

  .feature-image-container {
    position: relative;
    overflow: hidden;
    float: left;
    width: 100%;
    max-width: 224px;

    &:nth-child(n + 3) {
      margin-top: 20px;
    }

    &:nth-child(2n+2) {
      margin-left: 20px;
    }

    &:after {
      display: block;
      padding-top: 100%;
      content: '';
    }
  }

  .feature-image {
    @extend %stretch;
    position: absolute;
    background-size: cover;

    .editmode & {
      display: table;
      width: 224px;
      height: 224px;
      outline: 1px dashed rgba($third-color, 0.33);
    }

    &.active {
      outline: none;
    }
  }

  @include query($tablet-1) {
    .feature-left,
    .feature-right {
      float: none;
      width: auto;
      max-width: none;
      padding: 48px 0;
    }

    .feature-left {
      text-align: center;
    }
  }
}

.summary {
  @include bg($secondary-color);

  .blog,
  .quotation {
    float: left;
  }

  .blog {
    @extend %front-page-content-left;
  }

  .quotation {
    @extend %front-page-content-right;
  }

  @include query($tablet-1) {
    .quotation,
    .blog {
      float: none;
      width: auto;
      max-width: none;
      padding: 48px 0;
    }

    .feature-left {
      text-align: center;
    }
  }
}



// .summary {
//   @include bg($secondary-color);

//   .wrap {
//     padding: 0 20px;

//     .flexbox & {
//       @include flexbox;
//     }

//     .no-flexbox & {
//       display: table;
//     }
//   }

//   .blog {
//     width: 498px;
//     padding: 43px 40px 43px 20px;
//     @include border(right, 5px, solid, $white);
//   }

//   .quotation {
//     width: 502px;
//     padding: 43px 20px 43px 40px;
//     font-size: 24px;
//     @include color($white);

//     .flexbox & {
//       @include flexbox;
//       @include align-content(center);
//       @include justify-content(center);
//     }

//     .no-flexbox & {
//       display: table;
//     }
//   }

//   @include query($tablet-2) {
//     .flexbox &,
//     .no-flexbox & {
//       .wrap,
//       .quotation {
//         display: block;
//       }

//       .blog,
//       .quotation {
//         width: auto;
//       }

//       .blog {
//         padding: 30px 0 15px;
//         border-right: none;
//         @include border(bottom, 5px, solid, $white);
//       }

//       .quotation {
//         padding: 15px 0 30px;
//       }
//     }
//   }
// }

.contacts {
  text-align: center;

  .wrap {
    padding: 55px 20px;
  }

  @include query($tablet-2) {
    .wrap {
      padding: 30px 20px;
    }
  }
}
