/* CONTENT */
// Styling rules for the site's main content area. These rules affect the entire site.
.content {
  padding-bottom: 80px;
  @include bg($white);

  .wrap {
    padding: 20px;

    .content-page & {
      max-width: 600px;
    }
  }
}

.main-feature,
.summary {
  .wrap {
    @extend %clearfix;
    padding: 0 20px;
  }
}

.main-feature {
  .wrap {
    @include display(flex);

    @include query($tablet-3 - 15) {
      display: block;
    }
  }

  .content-formatted {
    h2 {
      text-align: left;
      font-weight: 400;
      font-style: italic;
    }
  }

  .edy-gallery-area .edy-gallery-image,
  .edys-gallery-item,
  .edy-gallery-area .edy-gallery-thumb {
    width: 100px;
    height: 100px;
  }

  .edys-gallery-item,
  .edy-gallery-area .edy-gallery-thumb {
    margin-right: 4.3%;
    margin-bottom: 4.3%;

    @include query($tablet-1 + 3) {
      margin-right: 3.3%;
      margin-bottom: 3.3%;
    }

    @include query($tablet-1 - 32) {
      margin-right: 3.2%;
      margin-bottom: 3.2%;
    }

    @include query($tablet-1 - 35) {
      margin-right: 3.1%;
      margin-bottom: 3.1%;
    }

    @include query($tablet-1 - 38) {
      margin-right: 3%;
      margin-bottom: 3%;
    }

    @include query($tablet-1 - 40) {
      margin-right: 2.9%;
      margin-bottom: 2.9%;
    }

    @include query($tablet-1 - 43) {
      margin-right: 4.3%;
      margin-bottom: 4.3%;
    }

    @include query($tablet-3 - 15) {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }

  .edys-gallery-item {
    .public & {
      &:nth-child(4n+4) {
        margin-right: 0;

        @include query($tablet-1 - 43) {
          margin-right: 4.3%;
        }

        @include query($tablet-3 - 15) {
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }

      &:nth-child(3n+3) {
        @include query($tablet-1 - 43) {
          margin-right: 0;
        }

        @include query($tablet-3 - 15) {
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }

  .edy-gallery-area .edy-gallery-thumb {
    &:nth-child(4n+5) {
      margin-right: 0;

      @include query($tablet-1 - 43) {
        margin-right: 4.3%;
      }
    }
  }

  .edys-gallery-image-landscape {
    height: 100px;
  }

  .edys-gallery-image-portrait {
    width: 100px;
  }
}

%front-page-content-left {
  max-width: 468px;
  padding: 48px 20px;
}

%front-page-content-right {
 max-width: 442px;
 padding: 48px 0 48px 50px;
}

.feature-left,
.feature-right {
  @include flex(1);
  padding: 48px 20px;
}

.feature-left {

}

.feature-right {

}

.summary {
  @include bg($secondary-color);

  .blog,
  .quotation {
    float: left;
  }

  .blog {
    @extend %front-page-content-left;
  }

  .quotation {
    @extend %front-page-content-right;
  }

  @include query($tablet-1) {
    .quotation,
    .blog {
      float: none;
      width: auto;
      max-width: none;
      padding: 48px 0;
    }

    .feature-left {
      text-align: center;
    }
  }

  @include query($mobile-2) {
    .blog,
    .quotation {
      padding: 20px 0;
    }
  }
}

/* TODO: Remove if not needed. */
// .summary {
//   @include bg($secondary-color);

//   .wrap {
//     padding: 0 20px;

//     .flexbox & {
//       @include flexbox;
//     }

//     .no-flexbox & {
//       display: table;
//     }
//   }

//   .blog {
//     width: 498px;
//     padding: 43px 40px 43px 20px;
//     @include border(right, 5px, solid, $white);
//   }

//   .quotation {
//     width: 502px;
//     padding: 43px 20px 43px 40px;
//     font-size: 24px;
//     @include color($white);

//     .flexbox & {
//       @include flexbox;
//       @include align-content(center);
//       @include justify-content(center);
//     }

//     .no-flexbox & {
//       display: table;
//     }
//   }

//   @include query($tablet-2) {
//     .flexbox &,
//     .no-flexbox & {
//       .wrap,
//       .quotation {
//         display: block;
//       }

//       .blog,
//       .quotation {
//         width: auto;
//       }

//       .blog {
//         padding: 30px 0 15px;
//         border-right: none;
//         @include border(bottom, 5px, solid, $white);
//       }

//       .quotation {
//         padding: 15px 0 30px;
//       }
//     }
//   }
// }

.contacts {
  text-align: center;

  .wrap {
    padding: 55px 20px;
  }

  @include query($tablet-2) {
    .wrap {
      padding: 30px 20px;
    }
  }
}
