/* CONTENT */
// Styling rules for the site's main content area. These rules affect the entire site.
.content {
  padding-bottom: 80px;
  @include bg($white);

  .wrap {
    padding: 20px;

    .content-page & {
      max-width: 600px;
    }
  }
}

.main-feature {
  .wrap {
    padding: 0 20px;

    .flexbox & {
      @include flexbox;
    }

    .no-flexbox & {
      display: table;
    }
  }

  .feature-left,
  .feature-right {
    width: 500px;
    min-height: 188px;
    padding: 48px 20px;

    .flexbox & {
      @include flexbox;
    }

    .no-flexbox & {
      display: table;
    }
  }

  .feature-inner {
    .flexbox & {
      @include flex(1);
      @include align-self(center);
    }

    .no-flexbox & {
      display: table-cell;
      vertical-align: middle;
    }
  }

  @include query($tablet-2) {
    .flexbox &,
    .no-flexbox & {
      .wrap,
      .feature-left,
      .feature-right {
        display: block;
        min-height: 0;
      }

      .wrap {
        text-align: center;
      }

      .feature-left,
      .feature-right {
        width: auto;
        padding: 40px 20px;
        text-align: center;
      }

      .feature-left {
        padding: 30px 20px 15px;
      }

      .feature-right {
        padding: 15px 20px 30px;
      }
    }
  }
}

.summary {
  @include bg($secondary-color);

  .wrap {
    padding: 0 20px;

    .flexbox & {
      @include flexbox;
    }

    .no-flexbox & {
      display: table;
    }
  }

  .blog {
    width: 498px;
    padding: 43px 40px 43px 20px;
    @include border(right, 5px, solid, $white);
  }

  .quotation {
    width: 502px;
    padding: 43px 20px 43px 40px;
    font-size: 24px;
    @include color($white);

    .flexbox & {
      @include flexbox;
      @include align-content(center);
      @include justify-content(center);
    }

    .no-flexbox & {
      display: table;
    }
  }

  @include query($tablet-2) {
    .flexbox &,
    .no-flexbox & {
      .wrap,
      .quotation {
        display: block;
      }

      .blog,
      .quotation {
        width: auto;
      }

      .blog {
        padding: 30px 0 15px;
        border-right: none;
        @include border(bottom, 5px, solid, $white);
      }

      .quotation {
        padding: 15px 0 30px;
      }
    }
  }
}

.contacts {
  text-align: center;

  .wrap {
    padding: 55px 20px;
  }

  @include query($tablet-2) {
    .wrap {
      padding: 30px 20px;
    }
  }
}
