/* GALLERY */
// Styling rules for the built-in image gallery thumbnails.  These rules affect the entire site's image galleries.
// NB! It is not recommended to set the width and height of the thumbail image (.edys-gallery-image) larger than 100px because the generated thumbnail's original size is 100x100px.
.content-formatted {
  .edys-gallery-area,
  .edy-gallery-area {
    margin-left: -6px;
    font-size: 0;
    line-height: 1em;

    .edys-gallery-item,
    .edy-gallery-item,
    .edy-gallery-sortable-placeholder {
      display: inline-block;
      float: none;
      margin: 3px 0 3px 6px
    }
  }

  &.narrow-feature {
    .edys-gallery-area,
    .edy-gallery-area {
      .edys-gallery-item {
        position: relative;
        width: 22.6%;
        height: auto;
        margin: 0 3.1% 3.1% 0;

        &:before {
          content: '';
          display: block;
          padding-top: 100%;
        }

        .edys-gallery-image {
          position:  absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: auto;
          height: auto;

          &.edys-gallery-image-square {
            width: 100%;
          }
        }
      }
    }

    .edys-gallery-area {
      margin-bottom: -14px;

      .edys-gallery-item {
        &:nth-child(4n+4) {
          margin-right: 0;
        }
      }
    }

    .edy-gallery-area {
      .edys-gallery-item {
        &:nth-child(4n+5) {
          margin-right: 0;
        }
      }
    }

    @include query($mobile-1 - 58) {
      .edys-gallery-area {
        margin-bottom: 0;
      }
    }
  }
}
