/* GALLERY */
// Styling rules for the built-in image gallery thumbnails.  These rules affect the entire site's image galleries.
// NB! It is not recommended to set the width and height of the thumbail image (.edys-gallery-image) larger than 100px because the generated thumbnail's original size is 100x100px.
.edys-gallery {
  @extend %clearfix;

  .header-body-top & {
    display: inline-block;
    margin: 0 auto;
  }
}

.edys-gallery-area,
.edy-gallery-area {
  .edys-gallery-item {
    .content & {
      .content-page & {
        width: 95.7px;
        height: 95.7px;
      }
    }
  }
}

.edys-gallery-area {
  .edys-gallery-item {
    .content & {
      .content-page & {
        &:nth-child(7n+7) {
          margin-right: 0;
        }

        @include query($tablet-4 + 32) {
          &:nth-child(7n+7) {
            margin-right: 5px;
          }

          &:nth-child(6n+6) {
            margin-right: 0;
          }
        }

        @include query($mobile-1 - 1) {
          &:nth-child(6n+6) {
            margin-right: 5px;
          }

          &:nth-child(5n+5) {
            margin-right: 0;
          }
        }

        @include query($mobile-2 + 31) {
          &:nth-child(5n+5) {
            margin-right: 5px;
          }

          &:nth-child(4n+4) {
            margin-right: 0;
          }
        }

        @include query($mobile-4 - 43) {
          &:nth-child(4n+4) {
            margin-right: 5px;
          }

          &:nth-child(3n+3) {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.edy-gallery-area {
  .edys-gallery-item {
    .content & {
      .content-page & {
        &:nth-child(7n+8) {
          margin-right: 0;
        }

        @include query($tablet-4 + 32) {
          &:nth-child(7n+8) {
            margin-right: 5px;
          }

          &:nth-child(6n+7) {
            margin-right: 0;
          }
        }

        @include query($mobile-1 - 1) {
          &:nth-child(6n+7) {
            margin-right: 5px;
          }

          &:nth-child(5n+6) {
            margin-right: 0;
          }
        }

        @include query($mobile-2 + 31) {
          &:nth-child(5n+6) {
            margin-right: 5px;
          }

          &:nth-child(4n+5) {
            margin-right: 0;
          }
        }

        @include query($mobile-4 - 43) {
          &:nth-child(4n+5) {
            margin-right: 5px;
          }

          &:nth-child(3n+4) {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.edys-gallery-image {
  display: block;
  width: auto;
  height: auto;

  &.focus {
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}
