/* HEADER */
// Styling rules for the site's header. These rules affect the entire site.
.header {
  position: relative;

  .front-page & {
    min-height: 623px;
  }

  .search-open & {
    position: static;
  }

  .background-image {
    background-image: url('../images/header-bg.jpg');
  }

  .background-color {
    @include bg($primary-color, 0.16);
  }
}

.header-top {
  @include bg($white);
  @include border(bottom, 1px, solid, $primary-color, 0.1);

  .front-page & {
    @include bg($white, 0.9);
  }

  .wrap {
    @extend %clearfix;
    @extend %wide-wrap;
    padding: 20px;
  }
}

.header-left {
  @extend %header-footer-left;
}

.header-right {
  @extend %header-footer-right;
}

@include query($tablet-2) {
  .header-left,
  .header-right {
    float: none;
  }

  .header-left {
    margin-right: 0;
  }
}

.header-title {
  display: inline-block;
  vertical-align: middle;
  word-break: break-word;
  min-width: 140px;
  line-height: 1.3;
  font-weight: 700;
  font-size: 30px;

  a {
    @include color($primary-color, 0.73);

    &:hover {
      @include color($primary-color, 0.5);
    }
  }
}

.header-bottom-inner {
  display: table;
  border-collapse: collapse;
  width: 100%;
  max-width: 1000px;
  height: 544px;
  margin: 0 auto;
  text-align: center;

  .wrap {
    display: table-cell;
    vertical-align: middle;
    padding: 60px 20px;
    height: 542px;
  }

  .btn {
    display: inline-block;
    margin: 43px auto 11px;
  }
}
