/* MENUS */
.menu-btn {
  display: none;

  @include query($tablet-2) {
    position: absolute;
    top: 11px;
    right: 0;
    display: inline-block;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;

    &.open,
    &:hover {
      .menu-stripe {
        @include bg($secondary-color, 0.47);
      }
    }

    &:focus {
      outline: none;
    }

    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }
  }

  .menu-stripe {
    display: block;
    width: 23px;
    height: 4px;
    margin: 4px 0;
    @include bg($secondary-color, 0.67);
    border-radius: 5px;

    &:first-child,
    &:last-child {
      margin: 0;
    }
  }
}

.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  .menu-item,
  .edit-btn {
    display: inline-block;
    vertical-align: middle;
  }

  &.untranslated {
    @include color($primary-color, 0.33);
  }

  @include query($tablet-2) {
    .edit-btn {
      display: block;
      padding: 5px 15px 6px;
      @include border(bottom, 1px, solid, $primary-color, 0.1);
    }
  }
}

.menu-main {
  display: inline-block;
  vertical-align: middle;
  margin-top: 3px;

  .menu {
    .menu-item,
    .edit-btn {
      margin-left: 17px;
    }

    .menu-item {
      &:first-child {
        margin-left: 0;
      }

      .menu-link {
        padding-bottom: 3px;
        @include color($primary-color, 0.73);

        &.active,
        &.active:hover
        &:hover {
          @include border(bottom, solid, 1px, $secondary-color);
          box-shadow: inset 0 -3px 0 $secondary-color;
        }

        &:hover {
          @include border(bottom, solid, 1px, $secondary-color, 0.8);
          box-shadow: inset 0 -3px 0 rgba($secondary-color, 0.8);
        }
      }
    }

    .edit-btn {
      position: relative;
      top: -1px;
      margin-right: 5px;
    }
  }

  @include query($tablet-2) {
    display: none;

    &.expanded {
      position: absolute;
      top: 60px;
      right: 20px;
      z-index: 10;
      display: block;
      margin-top: 0;
      min-width: 350px;
      margin-bottom: 60px;
      text-align: left;
      @include bg($white);
      box-shadow: 0 5px 25px rgba($primary-color, 0.3);

      .menu {
        .menu-item,
        .menu-link {
          display: block;
        }

        .menu-item {
          margin-left: 0;
          @include border(bottom, 1px, solid, $primary-color, 0.1);

          &:first-child {
            .menu-link {
              font-weight: 700;
            }
          }
        }

        .edit-btn {
          margin: 0;
        }

        .menu-link {
          padding: 6px 15px 5px;

          &.active,
          &.active:hover,
          &:hover {
            border: none;
            box-shadow: none;
          }

          &.active,
          &.active:hover {
            @include color($secondary-color);
          }

          &:hover {
            @include color($primary-color, 0.3);
            border-bottom: none;
            box-shadow: none;
          }
        }
      }
    }

    @include query($mobile-3) {
      &.expanded {
        top: 79px;
        left: 0;
        right: 0;
        min-width: 0;
        margin-bottom: 40px;
        @include border(top, 1px, solid, $primary-color, 0.2);
        box-shadow: none;
      }
    }
  }

}

.menu-sub {
  .wrap {
    @extend %wide-wrap;
    padding: 12px 20px;
  }

  .menu {
    text-align: right;

    .search-enabled & {
      background: yellow;
    }

    .multilingual & {
      margin-right: 42px;
    }

    .search-enabled.multilingual & {
      background: blue;
    }

    .menu-item {
      margin-right: 12px;

      &:last-child {
        margin-right: 0;
      }

      .menu-link {
        font-size: 16px;
        @include color($primary-color, 0.73);

        &.active {
          font-weight: 700;
        }

        &:not(.active):hover {
          @include opacity(0.8);
        }
      }
    }
  }
}

.menu-lang-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 14px;
  font-size: 0;
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    @include opacity(0.8);
  }

  &:focus {
    outline: none;
  }

  &:before,
  &:after {
    top: 0;
    left: 0;
  }
}

.menu-lang-btn,
.menu-lang .menu-item .lang-flag {
  &:before,
  &:after {
    position: absolute;
    display: block;
    width: 20px;
    height: 13px;
    content: '';
  }
}

.menu-lang-btn,
.menu-lang .menu-item .lang-flag {
  &:before {
    @include bg($primary-color);
  }

  &:after {
    opacity: 0.95;
    background-size: 200px;
    background-repeat: no-repeat;

    .no-svg & {
      background-image: url('../images/ico-flags.png');
    }

    .svg & {
      background-image: url('../assets/ico-flags.svg');
    }
  }
}

.menu-lang-popover {
  display: none;

  &.expanded {
    position: absolute;
    top: 26px;
    right: -12px;
    display: block;
    margin-bottom: 40px;
    padding: 6px 0;
    min-width: 121px;
    background: #fff;
    box-shadow: 0 5px 25px rgba($primary-color, 0.3);
    z-index: 1;
  }
}

.menu-lang {
  position: relative;
  top: 5px;
  margin-left: 17px;
  display: inline-block;
  line-height: 1;

  .menu-main & {
    display: none;
  }

  .menu-item {
    display: list-item;
    text-align: right;
    font-size: 12px;

    .menu-link {
      position: relative;
      display: block;
      padding: 5px 40px 4px 13px;
      @include color($primary-color, 0.73);

      &.active,
      &.active:hover,
      &:hover {
        @include opacity(0.5);
      }

      &.active,
      &.active:hover {
        @include filter(grayscale(100%));
      }

      &:hover {
        @include filter(grayscale(50%));
      }

      &:before,
      &:after {
        top: 4px;
        right: 12px;
      }
    }
  }

  .edit-btn {
    margin: 5px 20px
  }

  @include query($tablet-2) {
    display: none;
    line-height: inherit;

    .menu-main.expanded & {
      top: 0;
      display: block;
      margin-left: 0;
      padding-left: 0;

      .menu-item {
        text-align: left;

        &:first-child {
          border-top: none;
        }

        .menu-link {
          padding: 10px 15px 9px 44px;
          font-weight: 400;
          font-size: 14px;
          @include color($primary-color, 0.73);

          &:before,
          &:after {
            top: 14px;
            left: 15px;
          }

          &.active,
          &.active:hover {
            font-weight: 600;
            @include color($primary-color, 0.8);
            background: none;
          }
        }
      }
    }
  }
}

// Language flag icons positioning in the spritemap.
$flags:
(sq,   0        0),
(hy,  -20px     0),
(bn,  -40px     0),
(pt,  -60px     0),
(bg,  -80px     0),
(zh, -100px     0),
(hr, -120px     0),
(da, -140px     0),
(cs, -160px     0),
(et, -180px     0),

(fi,    0px -14px),
(fr,  -20px -14px),
(ka,  -40px -14px),
(de,  -60px -14px),
(el,  -80px -14px),
(hu, -100px -14px),
(is, -120px -14px),
(hi, -140px -14px),
(id, -160px -14px),
(fa, -180px -14px),

(he,    0px -28px),
(it,  -20px -28px),
(ja,  -40px -28px),
(ko,  -60px -28px),
(lv,  -80px -28px),
(lt, -100px -28px),
(ms, -120px -28px),
(nl, -140px -28px),
(no, -160px -28px),
(ur, -180px -28px),

(fil,   0px -42px),
(pl,  -20px -42px),
(ro,  -40px -42px),
(ru,  -60px -42px),
(ar,  -80px -42px),
(lt, -100px -42px),
(sk, -120px -42px),
(es, -140px -42px),
(sv, -160px -42px),
(tr, -180px -42px),
(uk,    0px -56px),
(en,  -20px -56px)
;

@each $flag, $pos in $flags {
  .lang-flag-#{$flag}:after { background-position: $pos; }
}

// Styling rules for the blog listing view pagination.
.menu-pagination {
  text-align: center;
  @include border(all, 1px, solid, $primary-color, 0.1);

  .wrap {
    padding: 0;
  }

  .menu {
    @extend %clearfix;
  }

  li {
    &, a {
      @extend %inline-block;
    }

    a {
      padding: 11px 5px;
    }

    &.pagination-previous,
    &.pagination-next {
      a {
        padding: 11px 19px;
      }
    }

    &.pagination-previous {
      float: left;
      @include border(right, 1px, solid, $primary-color, 0.1);
    }

    &.pagination-next {
      float: right;
      @include border(left, 1px, solid, $primary-color, 0.1);
    }

    &:first-child {
    }

    a {
      @include color($primary-color, 0.73);

      &.active,
      &:hover {
        @include color($secondary-color);
      }

      &.active,
      &.active:hover {
        font-weight: 700
      }
    }
  }
}
