// EDITMODE STYLESHEET
// Stylesheet for styling elements that are only used in editmode
@import 'bourbon/bourbon';
@import '_mixins';
@import '_variables';

// Editable content area
.edy-ca {
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }
}

// Draggable area for content
.edy-empty-bordered {
  .dark-background & {
    @include color($white, 0.33);
    @include border(all, 1px, dashed, $white, 0.33);
  }

  .header-bottom & {
    padding: 200px 40px;
  }

  .main-feature & {
    padding: 101px 40px;
  }

  .quotation & {
    padding: 26.6% 40px;
  }

  .map & {
    padding: 125px 40px;
  }
}

// Editable content area placeholders.
.placeholder {
  .dark-background & {
    @include color($white, 0.5);
  }
}


// Text editor
.content-formatted {
  .edy-content-element-hover {
    .dark-background & {
      @include border(all, 1px, solid, $white, 0.5);
    }

    .light-background & {
      @include border(all, 1px, solid, $primary-color, 0.3);
    }
  }

  .edy-texteditor-view {
    min-height: 25px;

    .header-bottom-inner & {
      min-height: 45px;
    }

    .quotation & {
      min-height: 33px;
    }

    .map & {
      min-height: 272px;
    }
  }

  .edy-texteditor-active {
    .dark-background & {
      outline: 1px solid rgba($white, 0.8);
    }

    .light-background & {
      outline: 1px solid rgba($primary-color, 0.5);
    }
  }
}

// Image drop area
.edy-img-drop-area {
  font-family: 'Avenir Next', 'AvenirX', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;

  .edy-img-drop-area-placeholder {
    @include color($primary-color, 0.53);

    .editmode & {
      margin: 0;
      padding: 10px;
      font-size: 18px;
    }

    .flexbox & {
      @include align-self(center);
    }

    .no-flexbox & {
      display: table-cell;
      vertical-align: middle;
    }
  }
}


// Embedded content wrapper
.embed-container {
}
