/* BLOG & BLOG ARTICLE */

.post-title {
  word-wrap: break-word;
}

// Style rules for the front page blog listing only.
.front-page {
  .blog {
    width: 463px;
    padding: 43px 40px 43px 0;
    @include border(right, 5px, solid, $white);
  }

  .blog-title {
    margin: 0;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    @include color($white, 0.5);
  }

  .post {
    margin-top: 10px;
  }

  .post-title {
    display: inline;
    font-weight: 400;
    font-size: 24px;
    @include border(bottom, 1px, solid, $white);

    &:hover {
      border: none;
    }

    &, & a {
      @include color($white);
    }
  }

  .post-date {
    display: block;
    font-size: 16px;
    @include color($white, 0.5);
  }

  @include query($tablet-3) {
    .blog {
      width: auto;
      padding: 20px;
      border-right: none;
      @include border(bottom, 5px, solid, $white);
    }
  }
}

// Style rules for the blog listing & single article view.
.blog-page,
.post-page {
  .post {
    @include border(top, 1px, solid, $black, 0.1);

    &:first-child {
      padding-top: 0;
      border: none;
    }
  }

  .post-title {
    margin: 0;
    text-align: center;

    &, a {
      font-weight: 400;
      font-style: italic;
      font-size: 30px;
      @include color($secondary-color);
    }

    a {
      @include border(bottom, 2px, solid, $secondary-color);

      &:hover {
        @include opacity(0.5);
      }
    }
  }

  .post-date {
    display: block;
    margin-top: 5px;
    text-align: center;
    font-size: 18px;
    @include color($third-color);
  }

  .post-content {
    margin-top: 20px;
  }

  .post-excerpt {
  }

  .post-body {
    margin-top: 20px;
  }
}

// Style rules for the blog listing view only
.blog-page {
  .post-add-btn {
    text-align: center;
    margin-bottom: 50px;
  }

  .post {
    padding: 50px 0;
  }
}

// Style rules for the blog single article view only
.post-page {
  .post {

  }
}
