/* BLOG & BLOG ARTICLE */
// Styling rules for both - the blog listing view and the blog single article view
.post {
  text-align: center;

  .post-title {
    margin-top: 0;
    margin-bottom: 0;


    &, a {
      font-weight: 400;
      font-style: italic;
      font-size: 30px;
      @include color($secondary-color);
    }

    a {
      @include border(bottom, 2px, solid, $secondary-color);

      &:hover {
        @include opacity(0.5);
      }
    }
  }

  .post-date {
    display: block;
    margin-top: 5px;
    font-size: 18px;
    @include color($third-color);
  }

  .post-content {
    margin-top: 20px;

    .post-excerpt {
    }

    .post-body {
      margin-top: 20px;
    }
  }

  .post-footer {
    .post-author {
      font-size: 12px;
    }
  }

  .post-comments-count {
    a {
      font-size: 14px;
      @include color($blue-1);

      &:hover {
        @include color($blue-1, 0.8);
      }
    }
  }
}

// Style rules for the blog listing view only
.blog-page {
  .post-add-btn {
    text-align: center;
    margin-bottom: 50px;
  }

  .post {
    margin-bottom: 50px;
    padding-bottom: 50px;
    @include border(bottom, 1px, solid, $black, 0.1);
  }
}

// Style rules for the blog single article view only
.post-page {
  .post {
  }
}
