/* COMMON PAGE */
.common-page {
  .header {
    @include border(bottom,1px,solid,$border-color);
  }
  .content {
    .content-formatted {
      max-width: 600px;
      margin: 0 auto;
      padding: 70px 20px;
    }
  }
}
