/* CONTENT */
// Styling rules for the site's main content area. These rules affect the entire site.
.content {
  padding-bottom: 80px;
  @include bg($white);

  .wrap {
    padding: 20px;
  }
}

.main-feature {
  .wrap {
    padding: 48px 20px;

    .flexbox & {
      @include flexbox;
      @include align-content(center);
      @include justify-content(center);
    }

    .no-flexbox & {
      display: table;
    }
  }

  .feature-left,
  .feature-right {
    .edy-positionable-container-left {
      margin-right: 16px;
    }
  }

  .feature-left {
    width: 464px;
    margin-right: 36px;
  }

  .feature-right {
    @include align-self(center);
    width: 469px;
    margin-left: 31px;
  }

  @include query($tablet-1) {
    .flexbox &,
    .no-flexbox & {
      .wrap {
        display: block;
        text-align: center;
      }
    }

    .feature-left,
    .feature-right {
      display: inline-block;
      width: auto;
      margin: 0 auto;
    }

    .feature-left {
      &.content-formatted {
        .edy-positionable-container-left {
          // TODO: Remove if there's going to be a better solution.
          margin-right: 16px !important;
        }
      }
    }

    .feature-right {
      margin-top: 48px;
    }
  }

  @include query($tablet-3) {
    .wrap {
      .flexbox &,
      .no-flexbox & {
        display: block;
      }
    }

    .feature-left,
    .feature-right {
      width: auto;
      text-align: center;
    }

    .feature-left {
      &.content-formatted {
        .edy-positionable-container-left,
        .edy-positionable-container-right {
          float: none;
        }
      }
    }

    .feature-right {
      margin-top: 20px;
      margin-left: 0;
    }
  }
}

.summary {
  @include bg($secondary-color);

  .wrap {
    padding: 0 20px;

    .flexbox & {
      @include flexbox;
    }

    .no-flexbox & {
      display: table;
    }
  }

  .blog,
  .quotation {
    .no-flexbox & {
      display: table-cell;
      vertical-align: top;
    }
  }

  .quotation {
    @include align-self(center);
    width: 470px;
    padding: 43px 20px 43px 47px;
    font-size: 24px;
    @include color($white);
  }

  @include query($tablet-3) {
    .wrap {
      padding: 0;

      .flexbox &,
      .no-flexbox & {
        display: block;
      }
    }

    .quotation {
      width: auto;
      padding: 20px;
    }
  }
}

.contacts {
  .wrap {
    padding: 55px 20px;
  }

  @include query($tablet-3) {
    .wrap {
      padding: 30px 20px;
      text-align: center;
    }
  }
}
