// Styling rules for the site's editable content areas.
// NB! Each editable content-area - {% content %} - should be wrapped in the element that has the "content-formatted" class.
// NB! Contact forms, image galleries and tables styling rules are located in the separate partials: "_forms.scss", "_gallery.scss" and "_tables.scss".
.content-formatted {
  @extend %clearfix;
  word-wrap: break-word;

  // Resets the bottom margin for all elements and top margin for all first elements in the editable content-area (to prevent unwanted white-space at the beginning of a content-area).
  h1, h2, h3, h4, h5, h6, p, ul, ol, pre, code, img, table form, .edy-partial-view {
    margin-bottom: 0;

    &:first-child {
      margin-top: 0;
    }
  }

  // Styling rules for the editable content area headings.
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
  }

  h1, h2 {
    text-align: center;
  }

  h1 {
    margin-top: 50px;
    font-style: italic;
    font-size: 30px;
    @include color($secondary-color);
  }

  h2 {
    margin-top: 18px;
    font-size: 20px;
  }

  h3, h4, h5, h6 {
    margin-top: 30px;
    font-size: 18px;
  }

  // Styling rules for the editable content area paragraphs, lists and links.
  p {
    margin-top: 30px;
  }

  ul {
    li {
    }
  }

  ol {
    li {
    }
  }

  a {
    text-decoration: underline;

    @include color($secondary-color);

    &:hover {
      text-decoration: none;
    }
  }

  // Styling rules for the editable content area images, embedded videos, preformatted texts, code examples etc.
  img, iframe {
    max-width: 100%;
  }

  img {
    height: auto;
  }

  img, iframe, pre {
    margin-top: 25px;
  }

  pre {
    margin-bottom: 0;
    overflow: auto;
    white-space: nowrap;

    &, code {
      padding: 10px;
      font-size: 14px;
      @include bg($grey-2);
    }

    code {
      display: block;
      margin-top: 0;
      padding: 0;
    }
  }

  // Styling rules for the site's editable content area tables.
  // NB! Works only if editable content-area - {% content %} -  is wrapped into the element that has the "content-formatted" class.

  // Container around editable content-area table.
  .table-container {
    margin-top: 20px;
  }

  // Overthrow plugin to support horizontal scrolling on older devices that have touch-screens. For example Android 2.3 devices.
  .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  // Adds dashed border to indicate that the table is too wide and can be scrolled horizontally.
  .horizontal-scroll {
    @include border(left, 1px, dashed, $third-color);
    @include border(right, 1px, dashed, $third-color);
  }

  table {
    width: 100%;
    @include border(all,1px,solid,$grey-2);
    border-collapse: collapse;
    border-spacing: 0;

    tr {
      &:first-child {
        td {
          @include color($white);
          @include bg($secondary-color);
          @include border(all, 1px,solid,$secondary-color);
        }
      }

      td {
        padding: 11px 17px;
        @include border(top, 1px, solid, $grey-2);
        @include border(bottom, 1px, solid, $grey-2);
      }
    }
  }


  // Minimal height of the editable content area (to avoid content area visual "jumping" when content-area is focused).
  .edy-texteditor-view {
    min-height: 25px;
  }

  // Margin between the editable content areast in editmode.
  .edy-partial-view {
    margin-top: 25px;
  }
}
