/* CONTENT */
// Styling rules for the site's main content area. These rules affect the entire site.
.content {
  padding-bottom: 80px;
  @include bg($white);

  @include query($tablet-2) {
    margin-top: 20px;
  }
}


.main-feature {
  .feature-left {
    width: 500px;
  }

  .feature-right {
    width: 469px;
    margin-left: 31px;
  }
}

.summary {
  @include bg($secondary-color);

  .blog,
  .quotation {
    .no-flexbox & {
      display: table-cell;
      vertical-align: top;
    }
  }

  .quotation {
    width: 500px;
  }
}
