// Styling rules for the site's editable content areas.
// NB! Each editable content-area - {% content %} - should be wrapped in the element that has the "content-formatted" class.
// NB! Contact forms, image galleries and tables styling rules are located in the separate partials: "_forms.scss", "_gallery.scss" and "_tables.scss".
.content-formatted {
  @extend %clearfix;
  word-wrap: break-word;

  .header-bottom-inner & {
    font-weight: 600;
    font-style: italic;
    line-height: 1.5;

    .dark-background & {
      @include color($white);
    }

    &.header-body {
      font-size: 30px;
    }
  }

  .quotation & {
    width: 100%;
    @include align-self(center);
  }

  // Resets the bottom margin for all elements and top margin for all first elements in the editable content-area (to prevent unwanted white-space at the beginning of a content-area).
  h1, h2, h3, h4, h5, h6, p, ul, ol, pre, code, img, table, form {
    margin-bottom: 0;

    &:first-child {
      margin-top: 0;
    }
  }

  h2, h3, h4, h5, h6, p, ul, ol, pre, code, table, form,
  .table-container,
  .edy-positionable-container-left,
  .edy-positionable-container-right {
    margin: 0 50px;
  }

  // Styling rules for the editable content area headings.
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
  }

  h1, h2 {
    text-align: center;

    .main-feature & {
      text-align: left;
    }
  }

  h1 {
    margin-top: 50px;
    font-style: italic;
    font-size: 30px;
    @include color($secondary-color);

    .contacts & {
      font-size: 32px
    }
  }

  h2 {
    margin-top: 18px;
    font-size: 20px;

    .main-feature & {
      font-style: italic;
      font-size: 24px;
    }

    .contacts & {
      font-size: 28px;
    }
  }

  &.feature-left,
  &.feature-right {
    h2 {
      text-align: center;
    }
  }

  h3, h4, h5, h6 {
    margin-top: 30px;
    font-size: 18px;

    .contacts & {
      font-weight: 400;
      font-size: 24px;
    }
  }

  // Styling rules for the editable content area paragraphs, lists and links.
  p {
    margin-top: 30px;

    .main-feature & {
      margin-top: 20px;
    }

    .contacts & {
      margin-top: 20px;
      font-size: 20px;
    }

    .quotation & {
      margin-top: 7px;
      font-size: 24px;
      @include color($white);

      &:first-child {
        margin-top: 0;
      }
    }
  }

  ul {
    li {
    }
  }

  ol {
    li {
    }
  }

  a {
    text-decoration: underline;

    @include color($secondary-color);

    &:hover {
      text-decoration: none;
    }
  }

  // Styling rules for the editable content area images, embedded videos, preformatted texts, code examples etc.
  iframe {
    max-width: 100%;
  }

  iframe, pre {
    margin-top: 25px;
  }

  iframe {
    .map & {
      margin-top: 0;
    }
  }

  pre {
    margin-bottom: 0;
    overflow: auto;
    white-space: nowrap;

    &, code {
      padding: 10px;
      font-size: 14px;
      @include bg($primary-color, 0.02);
    }

    code {
      display: block;
      margin-top: 0;
      padding: 0;
    }
  }

  .edy-positionable-container-left,
  .edy-positionable-container-right {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .edy-positionable-container-left {
    margin-right: 15px;
  }

  .edy-positionable-container-right {
    margin-left: 15px;
  }

  .edy-image-container-title {
    padding: 2px;
  }

  // Styling rules for the site's editable content area tables.
  // NB! Works only if editable content-area - {% content %} -  is wrapped into the element that has the "content-formatted" class.

  // Container around editable content-area table.
  .table-container {
    margin-top: 20px;
  }

  // Overthrow plugin to support horizontal scrolling on older devices that have touch-screens. For example Android 2.3 devices.
  .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .contacts & {
      overflow: auto;
      -webkit-overflow-scrolling: none;
    }
  }

  // Adds dashed border to indicate that the table is too wide and can be scrolled horizontally.
  .horizontal-scroll {
    @include border(left, 1px, dashed, $primary-color, 0.1);
    @include border(right, 1px, dashed, $primary-color, 0.1);
  }

  table {
    width: 100%;
    margin: 0 auto;
    @include border(all,1px,solid,$primary-color, 0.02);
    border-collapse: collapse;
    border-spacing: 0;

    tr {
      &:first-child {
        td {
          @include color($white);
          @include bg($secondary-color);
          @include border(all, 1px,solid,$secondary-color);
        }
      }

      td {
        padding: 11px 17px;
        @include border(top, 1px, solid, $primary-color, 0.02);
        @include border(bottom, 1px, solid, $primary-color, 0.02);
      }
    }

    .contacts &,
    .footer & {
      width: auto;
      border: none;

      tr {
        td {
          background: none;

          &:first-child {
            border-left: none;
          }
        }
      }

      @include query($mobile-5) {
        & {
          display: inline-block;

          tbody, tr {
            display: block;
          }
        }

        tr {
          td {
            display: block;
            text-align: center;
            @include border(top, 2px, solid, $primary-color, 0.2);
            border-left: none;

            &:first-child {
              border-top: none;
            }
          }
        }
      }
    }

    .contacts & {
      tr {
        td {
          padding: 0 15px;
          @include color($primary-color, 0.73);
          border-top: none;
          @include border(left, 2px, solid, $primary-color, 0.2);
          border-right: none;
          border-bottom: none;
        }
      }
    }

    .footer & {
      tr {
        td {
          padding: 0 12px;
          @include color($white, 0.5);
          border: none;
        }
      }
    }
  }
}
