/* CONTENT */
// Styling rules for the site's main content area. These rules affect the entire site.
.content {
  padding-bottom: 80px;
  @include bg($white);

  .wrap {
    padding: 50px 20px;
  }

  @include query($tablet-2) {
    margin-top: 20px;
  }
}


.main-feature {
  .wrap {
    .flexbox & {
      @include flexbox;
      @include align-content(center);
      @include justify-content(center);
    }

    .no-flexbox & {
      display: table;
    }
  }

  .feature-left {
    width: 500px;
  }

  .feature-right {
    @include align-self(center);
    width: 469px;
    margin-left: 31px;
  }
}

.summary {
  @include bg($secondary-color);

  .wrap {
    padding: 0 20px;

    .flexbox & {
      @include flexbox;
    }

    .no-flexbox & {
      display: table;
    }
  }

  .blog,
  .quotation {
    .no-flexbox & {
      display: table-cell;
      vertical-align: top;
    }
  }

  .quotation {
    @include align-self(center);
    width: 470px;
    padding: 43px 20px 43px 47px;
    font-size: 24px;
    @include color($white);
  }
}

.contacts {
  .wrap {
    padding: 55px 0;
  }
}
