/* FOOTER */
// Styling rules for the site's footer. These rules affect the entire site.
.footer {
  position:absolute;
  left:0;
  right: 0;
  bottom:0;
  min-height: 80px;
  @include color($white, 0.5);
  @include bg($primary-color);

  .wrap {
    max-width: 1000px;
    padding: 29px 20px 26px;

    .no-flexbox & {
      display: table;
    }

    .flexbox & {
      @include flexbox;
      @include align-content(center);
      @include justify-content(center);
    }
  }

  .footer-left {
    width: 300px;
  }

  .footer-right {
    width: 700px;
    text-align: right;
  }

  .voog-reference {
    margin-top: 30px;
    text-align: center;

    a {
      @extend %inline-block;
      padding: 7px 9px;
      font-size: 10px;
      @include color($secondary-color, 0.75);
      line-height: 1;
      @include bg($white);
      @include border(all, 1px, solid, $black, 0.1);

      &:hover {
        @include color($secondary-color, 0.75);
        @include border(all, 1px, solid, $black, 0.75);
      }
    }
  }

  @include query($tablet-3) {
    .wrap {
      .flexbox &,
      .no-flexbox & {
        display: block;
      }
    }

    .footer-left,
    .footer-right {
      width: auto;
      text-align: center;
    }
  }
}
