/* FRONT PAGE */
.front-page {
  .main-feature,
  .summary {
    .wrap {
      display: table;
      max-width: 1040px;
      width: 100%;
      @include box-sizing(border-box);
    }
  }

  .feature-left,
  .feature-right {
    display: table-cell;
    vertical-align: middle;
  }

  .main-feature {
    .wrap {
      padding: 40px 20px;
    }
    .feature-left {
      width: 430px;
      padding: 0 20px 0 0;
      // TODO: Might not be needed if image adding logic is going to be something else than common content area.
      img {
        max-width: 224px;
        height: auto;
        &:first-child {
          margin-right: 12px;
        }
      }
    }
    .feature-right {
      width: 411px;
      padding: 70px 0;
    }
    .content-formatted {
      h2 {
        text-align: left;
        font-style: italic;
        font-size: 24px;
      }
      p {
        margin-top: 22px;
      }
      & > a {
        display: inline-block;
        margin-top: 24px;
        text-decoration: none;
        font-style: italic;
        line-height: 1;
        @include border(bottom,1px,solid,$secondary-color);
        &:hover {
          border: none;
        }
      }
    }
  }

  .summary {
    @include color($white);
    @include bg($secondary-color);
    .wrap {
      padding: 0;
    }
    .blog,
    .quotation {
      display: table-cell;
      vertical-align: middle;
    }
    .blog {
      width: 458px;
      padding: 43px 40px 60px 20px;
      @include border(right,4px,solid,$white);
      .blog-title {
        margin-top: 0;
        margin-bottom: 3px;
        font-weight: 600;
        font-style: italic;
        font-size: 20px;
        @include color($white,.5);
      }
      .post {
        margin-top: 10px;
        .post-title {
          margin: 0;
          font-weight: 400;
          line-height: 1;
          a {
            text-decoration: none;
            font-size: 24px;
            @include color($white);
            @include border(bottom,1px,solid,$white);
            &:hover {
              border: none;
            }
          }
        }
        .post-date {
          display: block;
          margin-top: 6px;
          font-size: 16px;
          @include color($white,.5);
        }
      }
    }

    .quotation {
      width: 458px;
      padding: 0 20px 0 40px;
      font-size: 24px;
    }
  }

  .map {
    min-height: 273px;
  }
}
