/* GENERAL */
// Styling rules for the basic parts of the page. These rules affect the entire site.
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Adelle', 'Avenir Next', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  @include color($primary-color);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
 // Layout specific body classes
 .front-page {
 }

 .common-page {
 }

 .blog-page,
 .post-page {
 }

 .blog-page {
 }

 .post-page {
 }

// Pseudo classes for declaring commonly used styling rules for different elements.
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

%stretch {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

%inline-block {
  display: inline-block;
}

// Styling rules for the independent elements that can be located everywhere in the DOM and always have the same styling rules.
.bgpicker-btn {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.background-image,
.background-color {
  position: absolute;
  @extend %stretch;
}

.background-image {
  z-index: -2;
  background-position: center;
  background-size: cover;
}

.background-color {
  z-index: -1;
}

.btn {
  margin: 0;
  padding: 15px 40px;
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  @include color($white);
  @include bg($secondary-color);
  border: none;
  cursor: pointer;

  &:hover {
    @include bg($secondary-color,.8);
  }

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

}

// Styling rules for the main container that affects the entire site's other elements.
.container {
  a {
    img {
      border: none;
    }
  }
}

.wrap {
  max-width: 600px;
  margin: 0 auto;

  .front-page &,
  .header-top & {
    max-width: 1000px;
  }
}
