/* GENERAL */
// Styling rules for the basic parts of the page. These rules affect the entire site.
html, body {
  height: 100% !important;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Adelle', 'Avenir Next', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  @include color($primary-color, 0.73);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

// Pseudo classes for declaring commonly used styling rules for different elements.
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

%stretch {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

%inline-block {
  display: inline-block;
}

%header-footer-left {
  position: relative;
  float: left;
  margin-right: 20px;
}

%header-footer-right {
  float: right;
  text-align: right;
}

// Styling rules for the independent elements that can be located everywhere in the DOM and always have the same styling rules.
.loading-status {
  text-align: center;
}

.loader {
  position: relative;
  width: 32px;
  height: 32px;
  margin: 100px auto;
}

.loader-cube-1,
.loader-cube-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  @include bg($secondary-color);
  @include animation(cubemove 1.8s infinite ease-in-out);
}

.loader-cube-2 {
  @include animation-delay(-0.9s);
}

@include keyframes(cubemove) {
  25% {
    @include transform(translateX(42px) rotate(-90deg) scale(0.5));
  }

  50% {
    @include transform(translateX(42px) translateY(42px) rotate(-180deg));
  }

  75% {
    @include transform(translateX(0px) translateY(42px) rotate(-270deg) scale(0.5));
  }

  100% {
    @include transform(rotate(-360deg));
  }
}

.bgpicker-btn {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.background-image,
.background-color {
  position: absolute;
  @extend %stretch;
}

.background-image {
  z-index: -2;
  background-position: center;
  background-size: cover;
}

.background-color {
  z-index: -1;
}

.btn {
  margin: 0;
  padding: 15px 40px;
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  @include color($white);
  @include bg($secondary-color);
  border: none;
  cursor: pointer;

  &:hover {
    @include bg($secondary-color,.8);
  }

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

}

// Styling rules for the main container that affects the entire site's other elements.
.container {
  position:relative;
  min-height:100%;

  .editmode & {
    @include calc(min-height, '100% - 40px');
  }

  a {
    text-decoration: none;

    img {
      border: none;
    }
  }
}

.wrap {
  margin: 0 auto;

  .front-page & {
    max-width: 1000px;
  }

  .header-top & {
    @extend %clearfix;
    max-width: 1000px;
    padding: 19px 20px 17px;
  }

  .header-bottom-inner & {
    display: table-cell;
    vertical-align: middle;
    padding: 60px 20px;
    height: 542px;
  }

  .menu-tags & {
    padding-bottom: 0;
  }

  .menu-pagination & {
    padding: 0;
  }

  .content & {
    padding: 20px;

    .content-page & {
      max-width: 600px;
    }
  }

  .main-feature & {
    padding: 48px 20px;

    .flexbox & {
      @include flexbox;
      @include align-content(center);
      @include justify-content(center);
    }

    .no-flexbox & {
      display: table;
    }
  }

  .summary & {
    padding: 0 20px;

    .flexbox & {
      @include flexbox;
    }

    .no-flexbox & {
      display: table;
    }
  }

  .contacts & {
    padding: 55px 20px;
  }

  .comments & {
    padding: 33px 20px;
  }

  .footer & {
    @extend %clearfix;
    max-width: 1000px;
    padding: 28px 20px 27px;
  }

  @include query($tablet-1) {
    .flexbox &,
    .no-flexbox & {
      .main-feature {
        display: block;
        text-align: center;
      }
    }
  }
}

