/* HEADER */
// Styling rules for the site's header. These rules affect the entire site.
.header {
  position: relative;

  .front-page & {
    min-height: 623px;
  }

  .background-image {
    background-image: url('../images/header-bg.jpg');
  }

  .background-color {
    @include bg($grey-1, 0.2);
  }
}

.header-top {
  @include bg($white);
  @include border(bottom, 1px, solid, $third-color);

  .front-page & {
    @include bg($white, 0.9);
  }

  .wrap {
    max-width: 1000px;
    padding: 19px 20px;

    .flexbox & {
      @include flexbox;
      @include align-content(center);
      @include justify-content(center);
    }

    .no-flexbox & {
      display: table;
    }

    @include query($tablet-2) {
      .no-flexbox &,
      .flexbox & {
        display: block;
        width: auto;
      }
    }
  }
}

.header-left,
.header-right {
  .no-flexbox & {
    display: table-cell;
    vertical-align: top;
  }

  @include query($tablet-2) {
    .no-flexbox &,
    .flexbox & {
      display: block;
      width: auto;
    }
  }
}

.header-left {
  width: 300px;
  position: relative;
}

.header-title {
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  font-style: italic;
  font-size: 30px;

  a {
    @include color($primary-color);
  }

  a:hover {
    @include color($primary-color, 0.8);
  }

  @include query($tablet-2) {
    display: block;
    margin-right: 40px;
  }
}

.header-right {
  width: 700px;
  text-align: right;
}

.header-bottom-inner {
  display: table;
  width: 100%;
  max-width: 845px;
  margin: 0 auto;
  text-align: center;

  .wrap {
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;
    height: 542px;
  }

  .header-body {
    font-weight: 600;
    font-style: italic;
    font-size: 30px;
    line-height: 1.5;
    @include color($white);
  }

  .btn {
    display: inline-block;
    margin: 43px auto 0;
  }
}
