/* TABLES */
.content-formatted {
  .table-container {
    margin-top: 20px;
  }
  .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .horizontal-scroll {
    @include border(left,1px,dashed,$border-color);
    @include border(right,1px,dashed,$border-color);
  }
  table {
    width: 100%;
    @include border(all,1px,solid,$border-color);
    border-collapse: collapse;
    border-spacing: 0;
    tr {
      &:first-child {
        td {
          @include color($white);
          @include bg($secondary-color);
          @include border(all,1px,solid,$secondary-color);
        }
      }
      td {
        padding: 11px 17px;
        @include border(top,1px,solid,$border-color);
        @include border(bottom,1px,solid,$border-color);
      }
    }
  }
}
