// VARIABLES
// General colors
$primary-color: #444;
$secondary-color: #e4ac00;
$secondary-color-hover: #d5a101;
$third-color: #fafafa;

$black: #000;
$white: #fff;

$red: #c00;
$green: #60a740;
$blue: #308cb4;

// Specific colors
$border-color: #e5e5e5;
$input-border: #f2f2f2;

// Media queries
$tablet-1: 940px;
$tablet-2: 840px;
$tablet-3: 760px;

$mobile-1: 550px;
$mobile-2: 480px;
$mobile-3: 420px;
