// VARIABLES
// Custom variables to use in every .scss files.
// Comment out the "_variables.scss" partial in the "main.scss" file if not used.

// General colors
$primary-color: #000000;
$secondary-color: #E4AC00;

// Specific colors
$white: #FFFFFF;

$red: #CC0000;
$green: #60A740;
$blue-1: #0066BB;
$blue-2: #C7E5FF;

// Media queries
$tablet-1: 1040px;
$tablet-2: 900px;
$tablet-3: 816px;
$tablet-4: 707px;
$tablet-5: 660px;

$mobile-1: 640px;
$mobile-2: 503px;
$mobile-3: 480px;
$mobile-4: 420px;

// Reusable values
// Define the reusable variables here.
// For example the width of several different elements, that allways have to be with the same height:
// $box-width: 400px;
