// VARIABLES
// Custom variables to use in every .scss files.
// Comment out the "_variables.scss" partial in the "main.scss" file if not used.

// General colors
$primary-color: #444444;
$secondary-color: #E4AC00;
$third-color: #E5E5E5;

// Specific colors
$black: #000000;
$white: #FFFFFF;

$red: #CC0000;
$green: #60A740;
$blue-1: #0066BB;
$blue-2: #C7E5FF;

$grey-1: #333333;
$grey-2: #FAFAFA;
$grey-3: #CCCCCC;

// Media queries
$tablet-1: 900px;
$tablet-2: 752px;
$tablet-3: 660px;
$tablet-4: 640px;

$mobile-1: 480px;
$mobile-2: 420px;
$mobile-3: 420px;

// Reusable values
// Define the reusable variables here.
// For example the width of several different elements, that allways have to be with the same height:
// $box-width: 400px;
