// EDITMODE STYLESHEET
// Stylesheet for styling elements that are only used in editmode
@import 'bourbon/bourbon';
@import '_mixins';
@import '_variables';

// Editable content area
.edy-ca {
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }
}

// Draggable area for content
.edy-empty-bordered {
  .dark-background & {
    @include color($white, 0.33);
    @include border(all, 1px, dashed, $white, 0.33);
  }

  .header-bottom & {
    padding: 200px 40px;
  }

  .main-feature & {
    padding: 78px 40px;
  }

  .quotation & {
    padding: 26.6% 40px;
  }

  .map & {
    padding: 125px 40px;
  }
}

// Editable content area placeholders.
.placeholder {
  .dark-background & {
    @include color($white, 0.5);
  }
}


// Text editor
.content-formatted {
  .edy-texteditor-view {
    min-height: 25px;

    .header-bottom-inner & {
      min-height: 45px;
    }

    .quotation & {
      min-height: 33px;
    }

    .map & {
      min-height: 272px;
    }
  }
}


// Embedded content wrapper
.embed-container {
}
