.edy-ca {
  margin-top: 20px;
}
.edy-ca:first-child {
  margin-top: 0;
}

.dark-background .edy-empty-bordered {
  color: white;
  color: rgba(255, 255, 255, 0.33);
  border: 1px dashed white;
  border: 1px dashed rgba(255, 255, 255, 0.33);
}
.header-bottom .edy-empty-bordered {
  padding: 200px 40px;
}
.main-feature .edy-empty-bordered {
  padding: 101px 40px;
}
.quotation .edy-empty-bordered {
  padding: 26.6% 40px;
}
.map .edy-empty-bordered {
  padding: 125px 40px;
}

.dark-background .placeholder {
  color: white;
  color: rgba(255, 255, 255, 0.5);
}

.dark-background .content-formatted .edy-content-element-hover {
  border: 1px solid white;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.light-background .content-formatted .edy-content-element-hover {
  border: 1px solid black;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.content-formatted .edy-texteditor-view {
  min-height: 25px;
}
.header-bottom-inner .content-formatted .edy-texteditor-view {
  min-height: 45px;
}
.quotation .content-formatted .edy-texteditor-view {
  min-height: 33px;
}
.map .content-formatted .edy-texteditor-view {
  min-height: 272px;
}
.dark-background .content-formatted .edy-texteditor-active {
  outline: 1px solid rgba(255, 255, 255, 0.8);
}
.light-background .content-formatted .edy-texteditor-active {
  outline: 1px solid rgba(0, 0, 0, 0.5);
}
.dark-background .content-formatted .edy-texteditor-active table td, .dark-background
.content-formatted .edy-texteditor-active table th {
  outline: 1px dotted rgba(255, 255, 255, 0.5);
}
.dark-background .content-formatted .edy-texteditor-active table td.wysiwyg-tmp-selected-cell, .dark-background
.content-formatted .edy-texteditor-active table th.wysiwyg-tmp-selected-cell {
  outline: 1px solid rgba(255, 255, 255, 0.8);
}

.edy-img-drop-area {
  font-family: 'Avenir Next', 'AvenirX', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.edy-img-drop-area .edy-img-drop-area-placeholder {
  color: black;
  color: rgba(0, 0, 0, 0.53);
}
.editmode .edy-img-drop-area .edy-img-drop-area-placeholder {
  margin: 0;
  padding: 10px;
  font-size: 18px;
}
.flexbox .edy-img-drop-area .edy-img-drop-area-placeholder {
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
}
.no-flexbox .edy-img-drop-area .edy-img-drop-area-placeholder {
  display: table-cell;
  vertical-align: middle;
}
