/* FONTS */
/* GENERAL */
html,
body {
  height: auto !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Adelle', 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.4;
  color: #444444;
}

.stretch {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}
.container a img {
  border: none;
}

.content-formatted {
  *zoom: 1;
}
.content-formatted:before, .content-formatted:after {
  content: " ";
  display: table;
}
.content-formatted:after {
  clear: both;
}
.content-formatted h1,
.content-formatted h2,
.content-formatted h3,
.content-formatted h4,
.content-formatted h5,
.content-formatted h6,
.content-formatted p,
.content-formatted img,
.content-formatted pre,
.content-formatted table {
  margin: 0;
}
.content-formatted h1:first-child,
.content-formatted h2:first-child,
.content-formatted h3:first-child,
.content-formatted h4:first-child,
.content-formatted h5:first-child,
.content-formatted h6:first-child,
.content-formatted p:first-child,
.content-formatted img:first-child,
.content-formatted pre:first-child,
.content-formatted table:first-child {
  margin-top: 0;
}
.content-formatted h1,
.content-formatted h2,
.content-formatted h3,
.content-formatted h4,
.content-formatted h5,
.content-formatted h6 {
  font-weight: 600;
}
.content-formatted h1,
.content-formatted h2 {
  text-align: center;
}
.content-formatted h1 {
  font-style: italic;
  font-size: 30px;
  color: #e4ac00;
}
.content-formatted h2 {
  font-size: 20px;
}
.content-formatted h3 {
  font-size: 18px;
}
.content-formatted a {
  color: #e4ac00;
}
.content-formatted a:hover {
  text-decoration: none;
}
.content-formatted img {
  max-width: 100%;
  height: auto;
}
.content-formatted pre {
  overflow: auto;
  padding: 10px;
  font-size: 14px;
  background-color: #fafafa;
}

/* MENUS */
/* HEADER */
/* TOPBAR */
/* CONTENT */
/* FRONT PAGE */
/* COMMON PAGE */
/* BLOG & BLOG ARTICLE */
/* GALLERY */
/* TABLES */
/* FORMS */
/* COMMENTS */
/* FOOTER */
/* TABLET VIEW */
/* MOBILE VIEW */
