/* GENERAL */
html,
body {
  height: auto !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Adelle', 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.4;
  color: #444444;
}

.container {
  margin: 0 auto;
}
.container a img {
  border: none;
}
.container .wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
.container .btn {
  margin: 0;
  padding: 15px 40px;
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  color: white;
  background-color: #e4ac00;
  border: none;
  outline: none;
  cursor: pointer;
}
.container .btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.container .btn:hover {
  background-color: #e4ac00;
  background-color: rgba(228, 172, 0, 0.8);
}

.content-formatted {
  *zoom: 1;
}
.content-formatted:before, .content-formatted:after {
  content: " ";
  display: table;
}
.content-formatted:after {
  clear: both;
}
.content-formatted h1:first-child,
.content-formatted h2:first-child,
.content-formatted h3:first-child,
.content-formatted h4:first-child,
.content-formatted h5:first-child,
.content-formatted h6:first-child,
.content-formatted p:first-child,
.content-formatted img:first-child,
.content-formatted pre:first-child,
.content-formatted table:first-child {
  margin-top: 0;
}
.content-formatted h1,
.content-formatted h2,
.content-formatted h3,
.content-formatted h4,
.content-formatted h5,
.content-formatted h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}
.content-formatted h1,
.content-formatted h2 {
  text-align: center;
}
.content-formatted h1 {
  font-style: italic;
  font-size: 30px;
  color: #e4ac00;
}
.content-formatted h2 {
  font-size: 20px;
}
.content-formatted h3 {
  font-size: 18px;
}
.content-formatted p {
  margin-top: 0;
  margin-bottom: 0;
}
.content-formatted a {
  color: #e4ac00;
}
.content-formatted a:hover {
  text-decoration: none;
}
.content-formatted img {
  max-width: 100%;
  height: auto;
}
.content-formatted pre {
  overflow: auto;
  padding: 10px;
  font-size: 14px;
  background-color: #fafafa;
}

/* MENUS */
.menu-btn {
  display: none;
}

.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.menu li {
  display: inline;
}

.main-menu {
  display: inline-block;
  vertical-align: middle;
}
.main-menu li {
  margin-left: 20px;
}
.main-menu li:first-child {
  margin-left: 0;
}
.main-menu li a {
  text-decoration: none;
  color: #444444;
}
.main-menu li a.untranslated {
  color: #cc0000;
}
.main-menu li a.active {
  border-bottom: 4px solid #e4ac00;
}
.main-menu li a:hover {
  border-bottom: 4px solid #e4ac00;
  border-bottom: 4px solid rgba(228, 172, 0, 0.6);
}
.main-menu .mobile-lang-menu {
  display: none;
}

.lang-menu {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  line-height: 1.1;
}
.lang-menu li {
  display: list-item;
  text-align: right;
  font-size: 12px;
}
.lang-menu li a {
  position: relative;
  display: block;
  padding: 5px 40px 3px 13px;
  color: #e4ac00;
}
.lang-menu li a:hover, .lang-menu li.active a, .lang-menu li.active a:hover {
  color: white;
  background-color: #e4ac00;
}
.lang-menu li a:after {
  top: 4px;
  right: 11px;
}
.lang-menu li.add-lang-btn {
  margin-top: 5px;
  margin-right: 10px;
  text-align: right;
}
.lang-menu li .edy-menu-langadd {
  margin-left: 5px;
}

.lang-menu-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 13px;
  margin-top: 2px;
  font-size: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.lang-menu-btn:after {
  top: 0;
  left: 0;
}

.lang-menu-btn:after,
.lang-menu li a.lang-flag:after {
  position: absolute;
  display: block;
  width: 20px;
  height: 13px;
  content: '';
  background-image: url("../images/flag-sprite.png");
  background-repeat: no-repeat;
}

.lang-menu-popover {
  display: none;
}
.lang-menu-popover.expanded {
  position: absolute;
  top: 25px;
  right: -12px;
  display: block;
  padding: 6px 0;
  min-width: 121px;
  background-color: white;
  -webkit-box-shadow: 0 0 1px black;
  box-shadow: 0 0 1px black;
  z-index: 1;
}

.sq:after {
  background-position: 0 0;
}

.hy:after {
  background-position: -20px 0;
}

.bn:after {
  background-position: -40px 0;
}

.pt:after {
  background-position: -60px 0;
}

.bg:after {
  background-position: -80px 0;
}

.zh:after {
  background-position: -100px 0;
}

.hr:after {
  background-position: -120px 0;
}

.da:after {
  background-position: -140px 0;
}

.cs:after {
  background-position: -160px 0;
}

.et:after {
  background-position: -180px 0;
}

.fi:after {
  background-position: 0 -14px;
}

.fr:after {
  background-position: -20px -14px;
}

.ka:after {
  background-position: -40px -14px;
}

.de:after {
  background-position: -60px -14px;
}

.el:after {
  background-position: -80px -14px;
}

.hu:after {
  background-position: -100px -14px;
}

.is:after {
  background-position: -120px -14px;
}

.hi:after {
  background-position: -140px -14px;
}

.id:after {
  background-position: -160px -14px;
}

.fa:after {
  background-position: -280px -14px;
}

.he:after {
  background-position: 0 -27px;
}

.it:after {
  background-position: -20px -27px;
}

.ja:after {
  background-position: -40px -27px;
}

.ko:after {
  background-position: -60px -27px;
}

.lv:after {
  background-position: -80px -27px;
}

.lt:after {
  background-position: -100px -27px;
}

.ms:after {
  background-position: -120px -27px;
}

.nl:after {
  background-position: -140px -27px;
}

.no:after {
  background-position: -160px -27px;
}

.ur:after {
  background-position: -280px -27px;
}

.fil:after {
  background-position: 0 -41px;
}

.pl:after {
  background-position: -20px -41px;
}

.ro:after {
  background-position: -40px -41px;
}

.ru:after {
  background-position: -60px -41px;
}

.ar:after {
  background-position: -80px -41px;
}

.lt:after {
  background-position: -100px -41px;
}

.sk:after {
  background-position: -120px -41px;
}

.es:after {
  background-position: -140px -41px;
}

.sv:after {
  background-position: -160px -41px;
}

.tr:after {
  background-position: -180px -41px;
}

.uk:after {
  background-position: 0px -54px;
}

.en:after {
  background-position: -20px -54px;
}

/* HEADER */
.header {
  position: relative;
  background-size: cover;
  min-height: 625px;
}
.header .bg-color {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-top,
.header-bottom {
  position: relative;
}

.header-top {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
}
.header-top .wrap {
  display: table;
  width: 100%;
  height: 80px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header-top .header-left,
.header-top .header-right {
  display: table-cell;
  vertical-align: middle;
}
.header-top .header-right {
  text-align: right;
}

.header-bottom .content-formatted {
  display: table;
  max-width: 845px;
  height: 575px;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  font-style: italic;
  font-size: 30px;
  line-height: 1.5;
  color: white;
}
.header-bottom .content-formatted .wrap {
  display: table-cell;
  vertical-align: middle;
}
.header-bottom .content-formatted .btn {
  margin-top: 43px;
}

.header-title {
  display: inline-block;
  vertical-align: middle;
  max-width: 340px;
  font-weight: 700;
  font-style: italic;
  font-size: 30px;
}
.header-title,
.header-title a {
  text-decoration: none;
  color: #444444;
}

/* TOPBAR */
/* CONTENT */
/* FRONT PAGE */
.front-page .main-feature .wrap,
.front-page .summary .wrap {
  display: table;
  width: 100%;
  padding: 40px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.front-page .feature-left,
.front-page .feature-right {
  display: table-cell;
  vertical-align: middle;
}
.front-page .main-feature .feature-left {
  width: 430px;
  padding: 0 20px;
}
.front-page .main-feature .feature-left img {
  max-width: 224px;
  height: auto;
}
.front-page .main-feature .feature-left img:first-child {
  margin-right: 12px;
}
.front-page .main-feature .feature-right {
  width: 400px;
  padding: 70px 0;
}
.front-page .main-feature .content-formatted h2 {
  text-align: left;
  font-style: italic;
  font-size: 24px;
}
.front-page .main-feature .content-formatted p {
  margin-top: 22px;
}
.front-page .main-feature .content-formatted > a {
  display: inline-block;
  margin-top: 24px;
  text-decoration: none;
  font-style: italic;
  line-height: 1;
  border-bottom: 1px solid #e4ac00;
}
.front-page .main-feature .content-formatted > a:hover {
  border: none;
}
.front-page .summary {
  color: white;
  background-color: #e4ac00;
}
.front-page .summary .wrap {
  padding: 50px 20px;
}
.front-page .summary .blog,
.front-page .summary .quotation {
  display: inline-block;
  vertical-align: top;
}
.front-page .summary .blog {
  width: 500px;
}
.front-page .summary .blog .blog-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-style: italic;
  font-size: 20px;
  color: white;
  color: rgba(255, 255, 255, 0.5);
}
.front-page .summary .blog .post-title {
  margin-top: 0;
  margin-bottom: 0;
}
.front-page .summary .blog .post-title a {
  text-decoration: none;
  font-size: 24px;
  color: white;
  border-bottom: 1px solid white;
}
.front-page .summary .blog .post-title a:hover {
  border: none;
}
.front-page .summary .blog .post-date {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: white;
  color: rgba(255, 255, 255, 0.5);
}
.front-page .summary .quotation {
  width: 500px;
  font-size: 24px;
}

/* COMMON PAGE */
/* BLOG & BLOG ARTICLE */
/* GALLERY */
/* TABLES */
/* FORMS */
/* COMMENTS */
/* FOOTER */
